.community-item {
  padding:0 20px;

  &__icon {
    @extend %icon-border;
    color:$light;
    line-height: 2.5em;
    width: 2.5em;
    height: 2.5em;

    &:hover {
      color:$blue-on-dark;
    }
  }
}

@media(max-width:767px){
  .community-item {
    padding:10px 0;
  }
}
