//newsletter section styling
.newsletter {
  input[type="text"],
  input[type="email"] {
    border: 1px solid $gray;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    height: 65px;
    text-align: center;
    width: 100%;
  }

  input:focus {
    outline: none;
    border: 1px solid $blue-on-light;
  }
}

@media(min-width: 992px) {
  .newsletter {
    input[type="text"],
    input[type="email"] {
      width: 45%;
    }
  }
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid $blue-on-light;
}

//thanks messages
.form-thanks-message,
.news-thanks-message {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  display: none;

  p {
    font-size: 16px;
    color: $blue-on-light;
    font-weight: 400;
    text-align: center;
  }
}

.participate section.newsletter {
  padding: 50px 0 0;
}
