.section-intro {
  padding: 150px 0;

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  &__intro-wrapper {
    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

  }

  &__cta {
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}