.section-intro {
  padding: 150px 0 50px;

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  &__intro-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (max-width: 768px) {
      display: block;
    }

  }

  &__cta {
    align-self: stretch;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.intro-newsletter {
  color: $blue-on-light;


  &:focus, &:active {
    color: $blue-on-light;
  }

  button {
    color: $blue-on-light;
    margin-top: 20px;

    &:focus, &:active {
      color: $blue-on-light;
    }
  }
}
