.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .row {
    margin-top: 40px;
  }

  i {
    color: $blue-on-light;

    font-size: 2em;
  }
}

.hero {
  align-self: center;
}

@media(max-width: 767px) {
  .hero {
    margin-top: 30px;
    margin-bottom: 50px
  }
}
