//contact form styling
section#contact {
  background-color: $light;

  .form-group {
    margin-bottom: 25px;

    input,
    textarea,
    select {
      padding: 20px;
      font-family: $headig-font;
      border: 1px solid $gray;
      border-radius: 10px;
      color: $gray;
      font-weight: 200;
      background: transparent;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      line-height: 20px;
    }

    input.form-control,
    select.form-control {
      height: 65px;
    }

    textarea.form-control {
      height: 245px;
    }
  }

  .form-control:focus {
    border: 1px solid $third-blue;
    box-shadow: none;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $gray;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $gray;
  }
}

.form-group__send {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .button-light {
    margin-top: 0;
  }
}

.contact-offices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  grid-row-gap: 4rem;
}

.contact-office {
  color: $dark;
  display: flex;
  flex-direction: column;

  &__flag {
    height: 3rem;
  }

  &__header {
    display: flex;
  }

  &__country-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
  }

  &__country {
    font-weight: bolder;
    font-size: .8rem;
    line-height: .8rem;
    text-transform: uppercase;
  }

  &__city {
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1rem;
  }

  &__number {
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bolder;
  }

  &__address {
    font-size: 1rem;
  }
}

.contact-title {
  margin-bottom: 4rem;
}