<section id="contact" class="contact content light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/ntitle_wave_new_onwhite_rgb.png" alt="pulse site separator">
                <h2 class="section-headingwithsub text-uppercase">Get in touch with us!</h2>
                <h3 class="section-subheading">Are you interested? Do you want to know more? <br/> Simply drop us an email at <a class="maillink" href="mailto:contact@ntitle.network">contact@ntitle.network</a> or use the contact form below.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form id="formContact" accept-charset="UTF-8" action="https://formkeep.com/f/71e6e532b307" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>CONTACT US:</h5>
                            <div class="form-group">
                                <select class="form-control" name="who" required>
                                    <option selected disabled value="">Who are you?</option>
                                    <option>Developer</option>
                                    <option>Gamer</option>
                                    <option>Investor</option>
                                    <option>Other</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <input name="name" type="text" placeholder="Your name" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" placeholder="email@domain.com" class="form-control" required/>
                            </div>
                            <div class="form-group message-field">
                                <textarea name="message" placeholder="How we can help you?" class="form-control" required></textarea>
                            </div>
                            <div class="form-group__send">
                                <button type="submit" value="Send" class="btn button-light form-button">Send message</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>OFFICES:</h5>
                            <p>
                                🇳🇱 Amsterdam, Netherlands
                                +31 20 777 29 62
                                Joan Muyskenweg 22
                                1096 CJ Amsterdam, Netherlands

                            </p>
                            <p>
                                🇵🇱 Krakow, Poland
                                +48 12 446 70 86
                                Connaxis Sp. zo.o.
                                ul. gen Józefa Chłopickiego 1/1
                                31-525, Kraków, Poland
                            </p>
                            <p>
                                🇬🇮 Gibraltar (coming soon…)
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div class="form-thanks-message">
                                <p>
                                    Thanks! Your message has been received. We will get back to you as quickly as possible.
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
