<section id="contact" class="contact content light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-headingwithsub text-uppercase">Get in touch with us!</h2>
                <h3 class="section-subheading">Are you interested? Do you want to know more? <br/> Simply drop us an email at <a class="maillink" href="mailto:contact@ntitle.network">contact@ntitle.network</a> or use the contact form below.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form id="formContact" accept-charset="UTF-8" action="https://formkeep.com/f/71e6e532b307" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="contact-title">CONTACT US:</h5>
                            <div class="form-group">
                                <select class="form-control" name="who" required>
                                    <option selected disabled value="">Who are you?</option>
                                    <option>Developer</option>
                                    <option>Gamer</option>
                                    <option>Investor</option>
                                    <option>Other</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <input name="name" type="text" placeholder="Your name" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" placeholder="email@domain.com" class="form-control" required/>
                            </div>
                            <div class="form-group message-field">
                                <textarea name="message" placeholder="How we can help you?" class="form-control" required></textarea>
                            </div>
                            <div class="form-group__send">
                                <button type="submit" value="Send" class="btn button-light form-button">Send message</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="contact-title">OFFICES:</h5>
                            <div class="contact-offices">
                                <div class="contact-office">
                                    <div class="contact-office__header">
                                        <img class="contact-office__flag" src="/img/flags/nl.png" alt="nl flag">
                                        <div class="contact-office__country-wrapper">
                                            <div class="contact-office__country">Netherlands</div>
                                            <div class="contact-office__city">Amsterdam</div>
                                        </div>
                                    </div>
                                    <div class="contact-office__number">
                                        +31 20 777 29 62
                                    </div>
                                    <div class="contact-office__address">
                                        Joan Muyskenweg 22 1096 CJ
                                        <br />
                                        Amsterdam, Netherlands
                                    </div>
                                </div>

                                <div class="contact-office">
                                    <div class="contact-office__header">
                                        <img class="contact-office__flag" src="/img/flags/pl.png" alt="pl flag">
                                        <div class="contact-office__country-wrapper">
                                            <div class="contact-office__country">Poland</div>
                                            <div class="contact-office__city">Kraków</div>
                                        </div>
                                    </div>
                                    <div class="contact-office__number">
                                        +48 12 446 70 86
                                    </div>
                                    <div class="contact-office__address">
                                        Connaxis Sp. zo.o.
                                        <br />
                                        ul. gen Józefa Chłopickiego 1/1
                                    </div>
                                </div>

                                <div class="contact-office">
                                    <div class="contact-office__header">
                                        <img class="contact-office__flag" src="/img/flags/gb.png" alt="gb flag">
                                        <div class="contact-office__country-wrapper">
                                            <div class="contact-office__country">Gibraltar</div>
                                            <div class="contact-office__city"></div>
                                        </div>
                                    </div>
                                    <div class="contact-office__number">
                                        coming soon…
                                    </div>
                                    <div class="contact-office__address">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div class="form-thanks-message">
                                <p>
                                    Thanks! Your message has been received. We will get back to you as quickly as possible.
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
