//contact form styling
section#contact {
  background-color: $light;

  .form-group {
    margin-bottom: 25px;

    input,
    textarea,
    select {
      padding: 20px;
      font-family: $headig-font;
      border: 1px solid $gray;
      border-radius: 10px;
      color: $gray;
      font-weight: 200;
      background: transparent;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      line-height: 20px;
    }

    input.form-control,
    select.form-control {
      height: 65px;
    }

    textarea.form-control {
      height: 245px;
    }
  }

  .form-control:focus {
    border: 1px solid $third-blue;
    box-shadow: none;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $gray;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $gray;
  }
}