<div class="cookie-bar">
    <div class="cookie-bar__content">
        <span class="cookie-bar__text">Our website uses cookies and other similar technologies to improve our site and your online experience. By continuing to use our website you consent to cookies being used.</span>
        <button class="button cookie-bar__button button-light js-accept-cookie">Accept</button>
    </div>
</div>