//colors
$darkblue: #002039;
$bg-color: #020407;
$light: #ffffff;
$dark: #000000;
$blue-on-dark: #8df6ff;
$blue-on-light: #3EBCFE;
$third-blue: #3987BB;
$gray: #a4a4a4;
$input-bg: #ECECEC;

//fonts
$headig-font: 'Nunito Sans', sans-serif;
$text-font: 'Nunito Sans', sans-serif;

//spacers
$breather: 100px;


// todo refactor colors

$bg-color-dark: #0f0f12;
$light: #ffffff;
$color-bg: #fafafa;
$black: #000000;
$blue: #3ebcfe;
$green: #3FC028;
$dark-gray: #222;
$light-gray: #ECECEC;
$red: #8D201C;
$orange: #F18823;


// benefit section
$benefit-green: #53d3b3;
$benefit-blue: #0b87ce;
$benefit-violet: #7385c9;

$content-width: 110rem;
