<section class="DApp-section dark-bg" id="DApp">
    <div class="DApp-section__videos-container">
        <div class="container">
            <div class="row text-center">
                {% for section in dapp %}
                <div class="DApp-item col-lg-4 col-md-6 col-sm-12">
                    <div class="DApp-item__title">
                        <div class="icon"><img src="{{ section.icon }}"></div>
                        <div class="title-container">
                            <h2>{{ section.title }}</h2>
                        </div>
                        <div class="icon"></div>
                    </div>
                    <div class="DApp-item__phone-container">
                        <img src="/img/DApp/iphone10frame.png" class="phone">
                        <div class="video-container">
                            <div id="DApp{{ section.name }}VideoPlayBtn" class="playBtn"><img src="/img/DApp/playbtnlrg.png"></div>
                            <div id="DApp{{ section.name }}VideoPauseBtnSmall" class="smallBtn"><img src="/img/DApp/pausebtn.png"></div>
                            <div id="DApp{{ section.name }}VideoShade" class="video-shade"></div>
                            <video autoplay muted playsinline id="DApp{{ section.name }}Video">
                                <source src="{{ section.video }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div class="DApp-item__description">
                        {% for line in section.lines %}
                        <p>{{ line }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="DApp-section__beta-container">
        <div class="container-fluid">
            <div class="row top-row">
                <div class="col-3"></div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="title-container">
                                <span class="title">Sign up now to join the exclusive <b>Alpha testing program</b> for our bcommerce Mobile Trading DApp!</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="beta-form-group">
                                <div class="os-container"  id="DAppOsContainer">
                                    Select your OS:
                                    <div class="ios DApp-radio-btn">
                                        <input type="radio" name="OS" value="ios" id="DAppIos">
                                        <label for="DAppIos">iOS</label>
                                    </div>
                                    <div class="android DApp-radio-btn">
                                        <input type="radio" name="OS" value="android" id="DAppAndroid">
                                        <label for="DAppAndroid">Android</label>
                                    </div>
                                </div>
                                <div class="email-container" id="DAppEmailContainer">
                                    <input type="text" name="email" id="DAppEmail" placeholder="your email" class="text-field">
                                    <button class="button send button-solid" id="DAppSubmit">GO!</button>
                                </div>
                                <div class="privacy-check" id="DAppPrivacyCheck">
                                    <input type="checkbox" name="termsCheck" id="DAppTermsCheck">
                                    <label for="DAppTermsCheck">I agree to the <a href="/terms">terms & conditions</a> and <a href="/privacy">privacy policy</a></label>
                                </div>
                                <div class="errors" id="DAppErrors"></div>
                                <div class="succes" id="DAppSucces">Thank you for joining the Alpha testing program!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="col-lg-3 col-md-3 col-sm-12 phone-col">
                    <div class="qr-phone-container">
                        <img src="/img/DApp/iphone10qr.png" class="phone">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 beta-arrows-container">
                    <div class="beta-arrows-wrapper">
                        <img src="/img/DApp/betaArrowsV2.png" class="beta-arrows-wrapper__image">
                        <div class="beta-arrows-wrapper__text">
                            <div class="item one">Get access to our limited program</div>
                            <div class="item two">Follow the instructions to download the bcommerce Mobile Trading DApp</div>
                            <div class="item three">Setup the DApp and link with your Metamask account</div>
                            <div class="item four">Purchase and send game licenses on the blockchain</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
