<section class="DApp-section dark-bg" id="DApp">
    <div class="DApp-section__videos-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="DApp-section__title">Check out the bcommerce <b>Mobile Trading DApp</b> Alpha in action!</h2>
                </div>
            </div>
            <!--DApp columns-->
            <!--first row-->
            <div class="row text-center">
                <div class="DApp-item col-lg-4 col-md-6 col-sm-12">
                    <div class="DApp-item__phone-container">
                        <div class="video-container">
                            <div id="DAppGameDevVideoPlayBtn" class="playBtn"><img src="/img/DApp/playbtn.png"></div>
                            <div id="DAppGameDevVideoPlayBtnSmall" class="smallBtn"><img src="/img/DApp/playbtn.png"></div>
                            <div id="DAppGameDevVideoPauseBtnSmall" class="smallBtn"><img src="/img/DApp/pausebtn.png"></div>
                            <div id="DAppGameDevVideoShade" class="video-shade"></div>
                            <video autoplay muted id="DAppGameDevVideo">
                                <source src="/img/DApp/Gamedevv1.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <img src="/img/DApp/iphone.png" class="phone">
                    </div>
                    <h4 class="DApp-item__title">Game Developer</h4>
                    <div class="DApp-item__description">
                        <p>Create and manage your assets easily</p>
                        <p>Sell directly to the gamer</p>
                        <p>Set the commission rate for the smart contract</p>
                    </div>
                </div>
                <div class="DApp-item col-lg-4 col-md-6 col-sm-12">
                    <div class="DApp-item__phone-container">
                        <div class="video-container">
                            <div id="DAppGamerVideoPlayBtnSmall" class="smallBtn"><img src="/img/DApp/playbtn.png"></div>
                            <div id="DAppGamerVideoPauseBtnSmall" class="smallBtn"><img src="/img/DApp/pausebtn.png"></div>
                            <div id="DAppGamerVideoShade" class="video-shade"></div>
                            <video autoplay muted id="DAppGamerVideo">
                                <source src="/img/DApp/GamerDAppv1.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <img src="/img/DApp/iphone.png" class="phone">
                    </div>
                    <h4 class="DApp-item__title">Gamer</h4>
                    <div class="DApp-item__description">
                        <p>Manage your digital assets</p>
                        <p>Buy and sell games and in-game items</p>
                        <p>Use your unique QR code to make instant trades</p>
                    </div>
                </div>
                <div class="DApp-item col-lg-4 col-md-6 col-sm-12">
                    <div class="DApp-item__phone-container">
                        <div class="video-container">
                            <div id="DAppInfluencerVideoPlayBtnSmall" class="smallBtn"><img src="/img/DApp/playbtn.png"></div>
                            <div id="DAppInfluencerVideoPauseBtnSmall" class="smallBtn"><img src="/img/DApp/pausebtn.png"></div>
                            <div id="DAppInfluencerVideoShade" class="video-shade"></div>
                            <video autoplay muted id="DAppInfluencerVideo">
                                <source src="/img/DApp/Influencer final.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <img src="/img/DApp/iphone.png" class="phone">
                    </div>
                    <h4 class="DApp-item__title">Influencer</h4>
                    <div class="DApp-item__description">
                        <p>Browse games available for promotion</p>
                        <p>Share directly to social media</p>
                        <p>Receive commission payouts directly to your NTL wallet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="DApp-section__beta-container">
        <div class="container-fluid">
            <div class="row top-row">
                <div class="col-3"></div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 title-container">
                            <span class="title">Sign up now to join the exclusive <b>Alpha testing program</b> for our bcommerce Mobile Trading DApp!</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="beta-form-group">
                                <div class="os-container"  id="DAppOsContainer">
                                    Select your OS:
                                    <div class="ios DApp-radio-btn">
                                        <input type="radio" name="OS" value="ios" id="DAppIos">
                                        <label for="DAppIos">iOS</label>
                                    </div>
                                    <div class="android DApp-radio-btn">
                                        <input type="radio" name="OS" value="android" id="DAppAndroid">
                                        <label for="DAppAndroid">Android</label>
                                    </div>
                                </div>
                                <div class="email-container" id="DAppEmailContainer">
                                    <input type="text" name="email" id="DAppEmail" placeholder="your email" class="text-field">
                                    <button class="button send button-light" id="DAppSubmit">GET ACCESS</button>
                                </div>
                                <div class="privacy-check" id="DAppPrivacyCheck">
                                    <input type="checkbox" name="termsCheck" id="DAppTermsCheck">
                                    <label for="DAppTermsCheck">I agree to the <a href="/terms">terms & conditions</a> and <a href="/privacy">privacy policy</a></label>
                                </div>
                                <div class="errors" id="DAppErrors"></div>
                                <div class="succes" id="DAppSucces">Thank you for joining the Alpha testing program!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bottom-row">
                <div class="col-lg-3 col-md-3 col-sm-12 phone-col">
                    <div class="qr-phone-container">
                        <img src="/img/DApp/DAppQR.jpg" class="qr">
                        <img src="/img/DApp/iphone.png" class="phone">
                        <img src="/img/DApp/iphone-hor.png" class="phone-hor">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 beta-arrows-container">
                    <div class="beta-arrows-wrapper">
                        <img src="/img/DApp/betaArrows.png" class="beta-arrows-wrapper__image">
                        <div class="beta-arrows-wrapper__text">
                            <div class="one">Get access to our limited program</div>
                            <div class="two">Follow the instructions to download the bcommerce Mobile Trading DApp</div>
                            <div class="three">Setup the DApp and link with your Metamask account</div>
                            <div class="four">Purchase and send game licenses on the blockchain</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
