<section class="section section-benefits light-bg" id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/ntitle_wave_new_onwhite_rgb.png" alt="pulse site separator">
                <h2 class="section-headingwithsub text-uppercase">USING <span class="en">n</span>Title
                </h2>
                <h3>
                    <strong>EVERY</strong> GAME DEVELOPER CAN BECOME A GLOBAL BRAND
                    <br />
                    <strong>EVERY</strong> GAMER CAN BECOME A POPULAR INFLUENCER
                </h3>
                <h3 class="section-subheading">Are you passionate about gaming but feel the industry is unfairly
                    structured? Well we do! That’s why we’ve created nTitle.</h3>
            </div>
        </div>
        <div class="row section-benefits__characters">
            <img
                    data-trigger-id="benefits-section-1" class="section-benefits__character"
                    src="/img/benefits/developer_icon.png" alt="">
            <div class="section-benefits__character-separator">
                <img src="/img/benefits/benefit_separator.png" alt="">
            </div>
            <img
                    data-trigger-id="benefits-section-2"
                    class="section-benefits__character section-benefits__character--active"
                    src="/img/benefits/gamer_icon.png" alt="">
            <div class="section-benefits__character-separator">
                <img src="/img/benefits/benefit_separator.png" alt="">
            </div>
            <img
                    data-trigger-id="benefits-section-3" class="section-benefits__character"
                    src="/img/benefits/inf_icon.png" alt="">
        </div>
        <div class="row section-benefits__contents">
            <div class="section-benefits__content">
                {% for section in benefits.sections %}
                    <section
                            id="benefits-section-{{ loop.index }}"
                            class="section-benefits__content-section {{ 'section-benefits__content-section--visible' if loop.index == 2 }}">
                        {% for bene in section.benefits %}
                            <div class="benefit-item__title">
                                {{ bene.title }}
                            </div>
                            <div class="benefit-item__body">
                                {{ bene.text }}
                            </div>
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
</section>