.section-benefits {

  &__characters {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
  }

  &__character {
    cursor: pointer;
    opacity: .2;
    object-fit: contain;

    &--active {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__content-section {
    color: #000;
    display: none;
    padding-top: 80px;
    padding-bottom: 0;

    &--visible {
      //display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 6rem;

      @media (max-width: 991px) {
        width: 80%;
        grid-template-columns: 1fr;
      }
    }
  }

  &__character-separator {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
}

.benefit-item {

  &__title {
    font-size: 16pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;

    &--blue {
      color: $benefit-blue;
    }

    &--green {
      color: $benefit-green;
    }

    &--violet {
      color: $benefit-violet;
    }
  }

  &__body {
    text-align: center;
    margin-bottom: 2rem;
  }
}