.section-benefits {

  &__every {
    line-height: 1em;
    margin-bottom: 4rem;
    font-weight: 200;
    @media (max-width: 767px) {
      &:nth-child(0) {
        margin-bottom: 2rem;
      }
    }

  }

  &__characters {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;

    border-bottom: 1px solid rgba($gray, .2);
    padding-bottom: 4rem;


  }

  &__character {
    cursor: pointer;
    opacity: .2;
    object-fit: contain;


    @media (max-width: 767px) {
      height: auto;
      width: 25%;
    }

    &--active {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__content-section {
    color: #000;
    display: none;
    padding-top: 4rem;
    padding-bottom: 0;

    &--visible {
      display: block;
      width: 100%;

      @media (max-width: 991px) {
        width: 80%;
      }
    }
  }

  &__character-separator {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.benefit-item-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.benefit-item {

  &__title {
    font-size: 16pt;
    font-weight: 200;
    margin-bottom: 1rem;

    &--blue {
      color: $benefit-blue;
    }

    &--green {
      color: $benefit-green;
    }

    &--violet {
      color: $benefit-violet;
    }
  }

  &__body {
    margin-bottom: 2rem;
  }
}