<!doctype html>
<html lang="en">

<head>

    {% include "../partials/meta.njk" %}

    {% include "../partials/styles.njk" %}

    <meta property="og:title" content="nTitle" />
    <meta property="og:url" content="https://ntitle.network" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="/img/middlemen_monster.jpg" />
    <meta property="og:description"
          content="nTitle is a game marketplace built on the Ethereum peer-to-peer network where developers maintain control over their digital rights and gamers are empowered to freely buy and sell games without restrictions." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nTitle_network" />
    <meta name="twitter:creator" content="@nTitle_network" />
</head>

<body>

{% include "../partials/gtags.njk" %}
{% include "../partials/cookieBar.njk" %}

<!--video bacground and overlay-->
<div class="video-overlay"></div>
<video playsinline autoplay muted loop poster="/img/waves_1080p.jpg" id="bgvid">
    <source src="/video/corporate_video.webm" type="video/webm">
    <source src="/video/corporate_video.webm" type="video/mp4">
    Your browser doesn't support HTML5 video tag.
</video>

{% include "../partials/header.njk" %}

{% block content %}

{% endblock %}

{% include "../partials/footer.njk" %}

{% include "../partials/scripts.njk" %}

</body>
</html>
