<!doctype html>
<html lang="en">

<head>

    {% include "../partials/meta.njk" %}

    {% include "../partials/styles.njk" %}

</head>

<body>

{% include "../partials/gtags.njk" %}

<!--video bacground and overlay-->
<div class="video-overlay"></div>
<video playsinline autoplay muted loop poster="/img/waves_1080p.jpg" id="bgvid">
    <source src="/video/corporate_video.webm" type="video/webm">
    <source src="/video/corporate_video.webm" type="video/mp4">
    Your browser doesn't support HTML5 video tag.
</video>

{% include "../partials/header.njk" %}

{% block content %}

{% endblock %}

{% include "../partials/footer.njk" %}

{% include "../partials/scripts.njk" %}

</body>
</html>
