{% extends "./default.njk" %}

{% block content %}

    {% include "../partials/section-into.njk" %}
    {% include "../partials/section-dude.njk" %}
    {% include "../partials/section-join.njk" %}
    {% include "../partials/section-newsletter.njk" %}
    {% include "../partials/section-industries.njk" %}
    {% include "../partials/section-testimonials.njk" %}
    {% include "../partials/section-community.njk" %}
    {% include "../partials/section-team.njk" %}
    {% include "../partials/section-faq.njk" %}
    {% include "../partials/section-contact.njk" %}

{% endblock %}