{% extends "./default.njk" %}

{% block content %}
    <article class="light-bg participate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include "../partials/section-newsletter.njk" %}
                </div>
                <div class="col-sm-12 text-center">
                    <a class="btn button-light" href="https://ntitle.network">
                        Go back to homepage
                    </a>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

