{% extends "./default.njk" %}

{% block content %}

    <header class="dark-bg" id="terms">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="site-heading text-uppercase">Privacy Policy</h1>
                    <h3 class="site-subheading">Effective 27 November, 2017</h3>
                </div>
            </div>
        </div>
    </header>


    <article class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <p class="section-text">Welcome to the website of nTitle GmbH (“nTitle”). This Privacy Policy covers
                        any of your Personal Information obtained by nTitle. The term “nTitle” refers to all these
                        entities collectively. If we make any material changes, we will post the new policy here, with a
                        new effective date.</p>

                    <p class="section-text">By using nTitle websites, which include <a href="http://www.ntitle.network"
                                                                                       target="-_blank">www.ntitle.network<a/>
                            and other names under which we do business (collectively, “Site”), you consent to use of
                            information that is collected or submitted as described in this Privacy Policy.</p>

                    <p class="section-text">“Personal information” is data about an individual who can be identified
                        from that data, or from that data and other information to which we have access. Personal
                        Information is usually your name in combination with another identifier, such as date of birth,
                        address.</p>

                    <p class="section-text">We will collect Personal Information when you participate in the nTitle
                        Token Sale (the “Token Sale”).</p>

                    <h3>What Personal Information Do We Collect?</h3>


                    <p class="section-text">We may ask you for your name and postal address, email address, and
                        telephone number information when you participate in the nTitle Token Sale and/or to create,
                        complete or update your nTitle account.</p>

                    <p class="section-text">We may seek Personal Information regarding your age to verify that you are
                        not a minor in accordance with our policy against doing business with children, set forth
                        below.</p>

                    <p class="section-text">You are not required to provide the personal information we request, but if
                        you decline, you may not participate in the Token Sale and we may not be able to respond to
                        queries you may have.</p>

                    <h3>How Do We Use Your Personal Information?</h3>

                    <p class="section-text">To transact business with you in connection with the Token Sale and related
                        transactions (e.g. requests for information about our nTitle token or other products or
                        services) and otherwise serve you as a customer;</p>

                    <p class="section-text">To assess your interests, preferences and degree of satisfaction with the
                        Token Sale and/or related products and services;</p>

                    <p class="section-text">To keep you posted on new or updated nTitle token offerings or related
                        products, services and/or upcoming events;</p>

                    <p class="section-text">To improve the effectiveness of the Site, products, services, operations,
                        mobile experience or marketing efforts;</p>

                    <p class="section-text">To verify your identity and eligibility for the Token Sale and/or related
                        products and services;</p>

                    <p class="section-text">To conduct auditing, data analysis, and research to improve nTitle’s
                        products, services, and customer communications;</p>

                    <p class="section-text">To allow our employees to service your customer needs;</p>

                    <p class="section-text">To prevent, deter and investigate violation of this Privacy Policy and our
                        Terms and Conditions, or any fraud and other illegal activities; and</p>

                    <p class="section-text">To send you important notices regarding your purchases and changes to our
                        business policies.</p>

                    <h3>With Whom Do We Share Your Personal Information?</h3>

                    <p class="section-text">We may provide your Personal Information to affiliated companies.</p>
                    <p class="section-text">We may provide your Personal Information to business partners or others who
                        process it on our behalf. </p>
                    <p class="section-text">We share your Personal Information with third party services who facilitate
                        the Token Sale, manage and enhance our systems or customer data, provide customer service,
                        assess your interest in our products and services, and conduct customer research or satisfaction
                        surveys. The companies have agreed to protect your information as a condition of receiving or
                        processing it. </p>
                    <p class="section-text">We may disclose your Personal Information if we determine that disclosure is
                        reasonably necessary to enforce our Terms of Service, this Privacy Policy or to otherwise
                        protect our operations or users.</p>
                    <p class="section-text">We may release your Personal Information to others (including law
                        enforcement) if we believe such release is reasonably necessary to comply with the law or legal
                        process; enforce or apply the terms of applicable terms of use; detect, prevent, or otherwise
                        address fraud, security or technical issues; or otherwise protect the rights, property or safety
                        of others.</p>
                    <p class="section-text">We may sell, transfer and/or disclose your Personal Information as part of a
                        business divestiture, sale, merger, or acquisition of all or a part of our business. If another
                        company acquires our company, business, or assets, that company will possess the Personal Data
                        collected by us and will assume the rights and obligations regarding your Personal Information
                        as described in this Privacy Policy. In the event of an insolvency, bankruptcy, or receivership,
                        Personal Information may also be transferred as a business asset.</p>
                    <p class="section-text">We may share your Personal Information with our dealers, suppliers and
                        partners, who may provide you with SMS, email and other communications and offers for products
                        and services, including offers based on your interests, personal and business characteristics,
                        stated preferences and location.</p>

                    <h3>How Do We Protect Your Personal Information?</h3>

                    <p class="section-text">We maintain a variety of security measures, including physical, electronic
                        and procedural safeguards. No system can be completely secure, so we do not promise, and you
                        should not expect, that your Personal Information, searches, or other communications will always
                        remain secure.</p>

                    <h3>Access to Personal Information</h3>

                    <p class="section-text">You can ask us for the Personal Information we possess, so that you can
                        determine if it is inaccurate or if you want it deleted, provided that we are not required to
                        retain it by law or for legitimate business purposes.</p>
                    <p class="section-text">We may decline to process requests that are frivolous/vexatious, jeopardize
                        the privacy of others, are extremely impractical, or for which access is not otherwise required
                        by local law. Access, correction, or deletion requests can be made to <a class="maillink"
                                                                                                 href="mailto:contact@ntitle.network">contact@ntitle.network</a>
                    </p>

                    <h3>What Other Information Do We Collect?</h3>


                    <p class="section-text">We automatically gather information when you browse or view our Site. This
                        log data may include your browser type (e.g., Chrome, Safari, Firefox or Internet Explorer),
                        your domain, the Internet Protocol (IP) address assigned to your computer (or the unique device
                        ID of your mobile device, or other unique identifier), the date and time of your visits, the
                        pages on our site you visit and other information related to your visit. </p>

                    <p class="section-text">We collect data that does not, on its own, permit direct association with
                        any specific individual. We may collect, use, transfer, and disclose such non-personal
                        information for any purpose.</p>
                    <p class="section-text">If we combine non-personal information with your Personal Information, we
                        will maintain the combined information as Personal Information for as long as it remains
                        combined.</p>
                    <p class="section-text">We may collect information such as language, zip code, area code, unique
                        device identifier, referrer URL, location, and the time zone where a Token Sale participant is
                        located so that we can better understand customer behavior and improve our products, services,
                        and advertising.</p>
                    <p class="section-text">We may collect aggregated information regarding participant activities on
                        our Site, mobile application, and from our other products and services we may offer.</p>
                    <p class="section-text">We may collect details of how visitors to the Site use our services.</p>

                    <h3>How Do We Employ Cookies and Similar Technologies?</h3>

                    <p class="section-text">We use technologies such as “cookies” and web beacons so we can remember
                        certain information about you, remember your preferences or recognize you when you return. They
                        also help us compile aggregate data about Site traffic and Site interaction so that we can
                        improve our Site and protect our Site from fraud.</p>
                    <p class="section-text">A cookie is a text file that stored on your computer. As text files, cookies
                        cannot read information on your hard drive, run programs or deliver viruses to your computer.
                        Cookies let our Site remember your preferences or recognize you when you return.</p>
                    <p class="section-text">Most browsers are set to accept cookies automatically. You can set your
                        browser to decline all cookies automatically or to prompt you for a response each time a cookie
                        is offered. Note that declining cookies may hinder our Site’s performance and may not allow you
                        to access all of its features and services.</p>
                    <p class="section-text">Web beacons, also known as clear GIFs, are often used in combination with
                        cookies. These often transparent images are part of web pages, and allow us to count users who
                        have visited certain pages and to generate statistics about how our Site is used. They are not
                        used to access Personal Information.</p>
                    <p class="section-text">Pixel tags enable us to send email messages in a format customers can read,
                        and they tell us whether mail has been opened. We may use this information to reduce or
                        eliminate messages sent to customers.</p>
                    <p class="section-text">As do many internet sites, we gather some information automatically, such
                        Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP),
                        referring and exit websites and applications, operating system, date/time stamp, and clickstream
                        data.</p>
                    <p class="section-text">In some of our email messages, you will find a “click-through URL” linked to
                        content on our Site. We track this click-through data to help us determine interest in
                        particular topics and measure the effectiveness of our customer communications. If you prefer
                        not to be tracked in this way, you should not click such links in our email messages.</p>
                    <p class="section-text">We use Google Adwords and Google Analytics to gather data such as age,
                        gender and interests to provide advertising targeted to suit your interests and preferences. For
                        example, you may see certain online ads on our Site or other sites because we contract with
                        Google and similar companies to target our ads based on information collected from you or by
                        automated means, like cookies and web beacons. These companies also use automated technologies
                        to collect information when you click on our ads, which helps track and manage the effectiveness
                        of our marketing efforts.</p>
                    <p class="section-text">You may opt out of the automated collection of information by third-party ad
                        networks for the purpose of delivering advertisements tailored to your interests, by visiting
                        the consumer opt-out page for the Self-Regulatory Principles for Online Behavioral Advertising
                        at <a href="http://www.aboutads.info/choices"
                              target="-_blank">http://www.aboutads.info/choices<a/> and edit or opt-out your Google
                            Display Network ads’ preferences at <a href="http://www.google.com/ads/preferences"
                                                                   target="_blanc">http://www.google.com/ads/preferences</a>.
                    </p>
                    <p class="section-text">You may give consent for our Site to capture and record certain precise
                        geo-location or global positioning data from your device in order to tailor information to your
                        location. We may link such location data to other information that you provide to us or that may
                        be accessed in connection with your use of our Site.</p>
                    <p class="section-text">You should be able to manage how your mobile device and mobile browser share
                        location information with us, as well as how your mobile browser handles cookies and related
                        technologies, by adjusting your mobile device’s privacy and security settings.</p>
                    <p class="section-text">There are “do not track” or similar browser choices available to internet
                        users with respect to online web activity, but given the present lack of consensus of what
                        constitutes an informed election, appropriate trigger or breadth of scope of such choice, our
                        Site will not operate any differently when a “do not track” signal is received.</p>

                    <h3>Social Networking Sites</h3>

                    <p class="section-text">You may be able to post content to Social Networking Sites (such as
                        Facebook, Instagram, Snapchat or Twitter) on which we maintain a presence. If you choose to do
                        this, we will provide information to the Social Networking Sites in accordance with your
                        elections. You acknowledge and agree that you are solely responsible for your use of those
                        websites and that it is your responsibility to review the terms of use and privacy policies. We
                        are not responsible for the availability, accuracy, content, products or services of such Social
                        Network Sites. </p>

                    <h3>Third Party Links</h3>

                    <p class="section-text">Our Site may have links or be linked to other sites we do not own, control
                        or maintain. We are not responsible for and make no representations or warranties about the
                        privacy practices of those sites. We recommend that you check the privacy policies of other
                        sites and contact the operator if you have concerns or questions. Nonetheless, we seek to
                        protect the integrity of our Site and welcome any feedback about these third party sites.</p>

                    <h3>Children</h3>

                    <p class="section-text">The Site allows users to exchange money for NTL Tokens. No individual under
                        the age of eighteen (18) may use the services, regardless of any consent from your parent or
                        guardian to use the services. If you are under the age of majority where you live, you must
                        obtain consent from your parent or guardian to use the services. Notwithstanding the foregoing,
                        you may not use the services if you are under the age of majority where you live if you use
                        PayPal in association with your account.</p>

                    <p class="section-text">If you are under eighteen (18) years old, you are not allowed to use the
                        Site. If we learn that we have collected personal information from anyone under the age of 13,
                        we will endeavor to delete such information as soon as reasonably possible.</p>

                    <h3>Privacy Rights of California Residents</h3>

                    <p class="section-text">If you are a California resident, you may have the right to request and
                        receive certain information about a company’s disclosure of your personal information to third
                        parties for their own direct marketing use, and your choices with respect to such
                        disclosures.</p>
                    <p class="section-text">California Civil Code Section 1798.83 permits users of the Site that are
                        California residents to request certain information regarding our disclosure of personal
                        information to third parties for their direct marketing purposes. To make such a request, please
                        send an email to <a class="maillink"
                                            href="mailto:contact@ntitle.network">contact@ntitle.network</a>, or write us
                        at:</p>
                    <address>
                        <p class="section-text">nTitle GmbH<br>
                            Joan Muyskenweg 22<br>
                            2nd Floor, Unit 9<br>
                            1098 CJ, Amsterdam<br>
                            The Netherlands
                        </p>
                    </address>

                    <h3>Changes to our Privacy Statement</h3>

                    <p class="section-text">We may update this Privacy Statement from time to time, so please check the
                        effective date at the top of this page as the date of last revision. Changes will become
                        immediately effective upon posting on our Site unless otherwise noted. Your use of the Site
                        following these changes indicates your consent to the practices described in the revised Privacy
                        Statement. </p>

                    <h3>Opting Out of Communications</h3>

                    <p class="section-text">You may opt-out of receiving marketing-related emails by clicking the
                        "unsubscribe" link at the bottom of any email you receive from us or by changing the
                        communication preferences on your online account or profile. If you no longer want to receive
                        promotional text messages from us, please follow the cancellation instructions contained in the
                        last text message. If you are having difficulty unsubscribing from our marketing communications
                        using the above methods, please contact us at <a class="maillink"
                                                                         href="mailto:contact@ntitle.network">contact@ntitle.network</a>
                    </p>
                    <p class="section-text">If you opt-out from receiving marketing emails or text messages, we may
                        still need to send you communications about your orders, customer service inquiries, promotions
                        participation and other matters.</p>
                    <p class="section-text">If you agreed to receive future marketing communications directly from a
                        third party through our Site, you will need to contact that party to opt-out of such
                        communications. This process may be outlined on that party’s Privacy Policy.</p>

                    <h3>Contacting Us</h3>

                    <p class="section-text">If there are any questions regarding this privacy policy you may contact us
                        using the information at <a class="maillink" href="mailto:contact@ntitle.network">contact@ntitle.network</a>
                    </p>

                </div>
            </div>
        </div>

        </div>
    </article>

{% endblock %}

