{% extends "./default.njk" %}

{% block content %}

    <header class="dark-bg" id="terms">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="site-heading text-uppercase">TERMS OF SERVICE</h1>
                    <h3 class="site-subheading">Last updated 28 November, 2017</h3>
                </div>
            </div>
        </div>
    </header>

    <article class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="section-text">Welcome, and thank you for visiting the nTitle website (the “Site”). nTitle
                        GmbH (“nTitle”, “we”, “us” or “our”) provides the Site, our token sale (the Token Sale)
                        (together, the “Products”) to you subject to the following terms of service (“Terms”). The
                        nTitle Products are offered to you conditioned on your acceptance, without modification, of the
                        Terms; if you do not agree to the Terms, you may not use the Products. Your use of the Products
                        constitutes your agreement to all such Terms. Please read these Terms carefully, keep a copy of
                        them for your reference, and if you have any questions about these Terms please contact us prior
                        to using the Products.</p>
                    <p class="section-text"> We are frequently modifying, updating, expanding, and improving the
                        Products. We reserve the right, subject to applicable law, to make changes, modify, or add or
                        remove portions of these Terms, our Privacy Policy, the Terms of Token Sale, nTitle tokens and
                        other incorporated terms and policies at any time, in our sole discretion. Nonetheless, we
                        encourage you to check the Site frequently to see the current Terms in effect and any changes
                        that may have been made to them. If we make material changes to these Terms, we will post the
                        revised Terms and the revised effective date on the Site. Your continued use of the Products
                        after the date of any such changes become effective constitutes your acceptance of the new
                        Terms. No one at nTitle is authorized to modify these Terms with you or otherwise enter into an
                        agreement with you that conflicts with these Terms, except by means of written agreement signed
                        by an authorized agent of nTitle, and any other purported modifications or alterations or
                        conflicting terms will be null and void.</p>
                    <p class="section-text">PLEASE READ THESE TERMS CAREFULLY, AS THEY CONTAIN AN AGREEMENT TO ARBITRATE
                        AND OTHER IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. THE
                        AGREEMENT TO ARBITRATE REQUIRES (WITH LIMITED EXCEPTIONS) THAT YOU SUBMIT CLAIMS YOU HAVE
                        AGAINST US TO BINDING AND FINAL ARBITRATION, AND FURTHER (1) YOU WILL ONLY BE PERMITTED TO
                        PURSUE CLAIMS AGAINST nTitle ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY
                        CLASS OR REPRESENTATIVE ACTION OR PROCEEDING, AND (2) YOU WILL ONLY BE PERMITTED TO SEEK RELIEF
                        (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ON AN INDIVIDUAL BASIS.</p>

                    <h3>Terms of Token Sale</h3>
                    <p class="section-text">When you open an account with nTitle, purchase an nTitle token, or engage in
                        any other transaction with nTitle, you also will be subject to the Terms of Token Sale and/or
                        other similar agreements governing your use of our services. In the case of any conflict between
                        the Terms and the Terms of Token Sale, the provisions of the Terms of Token Sale will
                        control.</p>

                    <h3>Electronic Communications</h3>

                    <p class="section-text">Visiting or using the Products or sending emails to nTitle constitute
                        electronic communications. By visiting the Site, using the Products, or sending emails to
                        nTitle, you consent to receive electronic communications and you agree that all agreements,
                        notices, disclosures and other communications that we provide to you electronically, via email
                        or on the Products, satisfy any legal requirement that such communications be in writing.</p>

                    <h3>Your Account</h3>

                    <p class="section-text">If you use this Site, you are responsible for maintaining the
                        confidentiality of your account and password and for restricting access to your computer, and
                        you agree to accept responsibility for all activities that occur under your account or password.
                        You may not assign or otherwise transfer your account to any other person or entity. You
                        acknowledge that nTitle is not responsible for third party access to your account that results
                        from theft or misappropriation of your account. nTitle and its associates reserve the right, in
                        our sole discretion, to refuse or cancel service, terminate accounts, or remove or edit content.
                        You are responsible for maintaining the confidentiality of your password and account, if any,
                        and are fully responsible for any and all activities that occur under your password or account.
                        You agree to (a) immediately notify us of any unauthorized use of your password or account or
                        any other breach of security, and (b) ensure that you exit from your account at the end of each
                        session when accessing the Products. We will not be liable for any loss or damage arising from
                        your failure to comply with this Section.</p>

                    <p class="section-text">nTitle does not knowingly collect, either online or offline, personal
                        information from persons under the age of eighteen (18). If you are under eighteen (18), you may
                        not use the Products and may not enter into a Terms of Token Sale under any circumstances.</p>

                    <p class="section-text">You acknowledge that we may establish general practices and limits
                        concerning use of the Products, including without limitation the maximum period of time that
                        data or other content will be retained by the Products and the maximum storage space that will
                        be allotted on nTitle’s servers on your behalf. You agree that we have no responsibility or
                        liability for the deletion or failure to store any data or other content maintained or uploaded
                        by the Products. You acknowledge that we reserve the right to terminate accounts that are
                        inactive for an extended period of time. You further acknowledge that we reserve the right to
                        change these general practices and limits at any time, in its sole discretion, with or without
                        notice.</p>

                    <h3>Mobile Services</h3>

                    <p class="section-text">The Products include certain services that are available via a mobile
                        device, including (i) the ability to upload content to the Products via a mobile device, (ii)
                        the ability to browse the Products and the Site from a mobile device and (iii) the ability to
                        access certain features through an application downloaded and installed on a mobile device
                        (collectively, the “Mobile Services”). To the extent you access the Products through a mobile
                        device, your wireless service carrier’s standard charges, data rates and other fees may apply.
                        In addition, downloading, installing, or using certain Mobile Services may be prohibited or
                        restricted by your carrier, and not all Mobile Services may work with all carriers or devices.
                        By using the Mobile Services, you agree that we may communicate with you regarding and other
                        entities by SMS, MMS, text message or other electronic means to your mobile device and that
                        certain information about your usage of the Mobile Services may be communicated to us. In the
                        event you change or deactivate your mobile telephone number, you agree to promptly update your
                        nTitle account information to ensure that your messages are not sent to the person that acquires
                        your old number.</p>

                    <h3>Third Party Services</h3>

                    <p class="section-text">The Products may contain links to other websites (“Linked Sites”). The
                        Linked Sites are not under the control of nTitle and nTitle is not responsible for the contents
                        of any Linked Site, including without limitation any link contained in a Linked Site, or any
                        changes or updates to a Linked Site. nTitle is providing these links to you only as a
                        convenience, and the inclusion of any link does not imply endorsement by nTitle of the site or
                        any association with its operators. You agree that you must evaluate, and bear all risks
                        associated with, the use of any content, including any reliance on the accuracy, completeness,
                        or usefulness of such content.</p>

                    <p class="section-text">Certain services made available via the Products are delivered by third
                        party sites and organizations. By using any product, service or functionality originating from
                        the Products domain, you hereby acknowledge and consent that nTitle may share such information
                        and data with any third party with whom nTitle has a contractual relationship to provide the
                        requested product, service or functionality on behalf of Products users and customers.</p>

                    <h3>Prohibited Uses and Intellectual Property</h3>

                    <p class="section-text">All content included on the Products such as text, graphics, logos, images,
                        as well as the compilation thereof, and any software (including in both object code and source
                        code form) or other proprietary data or information used in connection with the Products
                        (collectively, “Content”), is the property of nTitle or its suppliers or licensors and is
                        protected by copyright, trademark and other laws that protect intellectual property and
                        proprietary rights. You agree to observe and abide by all copyright and other proprietary
                        notices, legends or other restrictions contained in any such content and will not make any
                        changes thereto.</p>

                    <p class="section-text">You will not modify, publish, transmit, reverse engineer, participate in the
                        transfer or sale, create derivative works, or in any way exploit any of the Products, including
                        any Content, in whole or in part. The Products and Content are not for resale. Your use of the
                        Products does not entitle you to make any unauthorized use of any Content, and in particular you
                        will not delete or alter any proprietary rights or attribution notices in any Content. You will
                        use Content solely for your personal use, and will make no other use of Content without the
                        express written permission of nTitle and the copyright owner. You agree that you do not acquire
                        any ownership rights in any Content. We do not grant you any licenses, express or implied, to
                        the intellectual property of nTitle or our licensors except as expressly authorized by these
                        Terms. If you are blocked by us from accessing the Products (including by blocking your IP
                        address), you agree not to implement any measures to circumvent such blocking (e.g., by masking
                        your IP address or using a proxy IP address).</p>

                    <h3>Communication Services</h3>

                    <p class="section-text">The Products may but need not contain bulletin board services, chat areas,
                        news groups, forums, communities, personal web pages, calendars, and/or other message or
                        communication facilities designed to enable you to communicate with the public at large or with
                        a group (collectively, “Communication Services”). You agree to use the Communication Services
                        only to post, send and receive messages and material that are proper and related to the
                        particular Communication Service.</p>

                    <p class="section-text">By way of example, and not as a limitation, you agree that when using a
                        Communication Service, you will not: defame, abuse, harass, stalk, threaten or otherwise violate
                        the legal rights (such as rights of privacy and publicity) of others; publish, post, upload,
                        distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent
                        or unlawful topic, name, material or information; upload files that contain software or other
                        material protected by intellectual property laws (or by rights of privacy of publicity) unless
                        you own or control the rights thereto or have received all necessary consents; upload any
                        content that infringes any intellectual property or other proprietary rights of any party;
                        upload files that contain viruses, corrupted files, or any other similar software or programs
                        that may damage the operation of another’s computer; upload any content that creates or poses a
                        privacy or security risk to any person; upload any content that constitutes unsolicited or
                        unauthorized advertising, promotional materials, commercial activities and/or sales, “junk
                        mail,” “spam,” “chain letters,” “pyramid schemes,” “contests,” “sweepstakes,” or any other form
                        of solicitation; upload any content that is unlawful, harmful, threatening, abusive, harassing,
                        tortious, excessively violent, defamatory, vulgar, obscene, pornographic, libelous, invasive of
                        another’s privacy, hateful racially, ethnically or otherwise objectionable; advertise or offer
                        to sell or buy any goods or services for any business purpose, unless such Communication Service
                        specifically allows such messages; conduct or forward surveys, contests, pyramid schemes or
                        chain letters; download any file posted by another user of a Communication Service that you
                        know, or reasonably should know, cannot be legally distributed in such manner; interfere with or
                        disrupt the Products or servers or networks connected to the Products, or disobey any
                        requirements, procedures, policies or regulations of networks connected to the Service;
                        impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation
                        with a person or entity; solicit personal information from anyone under the age of eighteen
                        (18); further or promote any criminal activity or enterprise or provide instructional
                        information about illegal activities; falsify or delete any author attributions, legal or other
                        proper notices or proprietary designations or labels of the origin or source of software or
                        other material contained in a file that is uploaded, restrict or inhibit any other user from
                        using and enjoying the Communication Services; violate any code of conduct or other guidelines
                        which may be applicable for any particular Communication Service; harvest or otherwise collect
                        information about others, including e-mail addresses, without their consent; violate any
                        applicable laws or regulations.</p>

                    <p class="section-text">nTitle has no obligation to monitor the Communication Services. However,
                        nTitle reserves the right to review materials posted to a Communication Service and to remove
                        any materials in its sole discretion. nTitle reserves the right to terminate your access to any
                        or all of the Communication Services at any time without notice for any reason whatsoever.</p>

                    <p class="section-text">nTitle reserves the right at all times to disclose any information as
                        necessary to satisfy any applicable law, regulation, legal process or governmental, or to edit,
                        refuse to post or to remove any information or materials, in whole or in part, in nTitle’s sole
                        discretion.</p>

                    <p class="section-text">Always use caution when giving out any personally identifying information
                        about yourself or your children in any Communication Service. nTitle does not control or endorse
                        the content, messages or information found in any Communication Service and, therefore, nTitle
                        specifically disclaims any liability with regard to the Communication Services and any actions
                        resulting from your participation in any Communication Service.</p>

                    <p class="section-text">Materials uploaded to a Communication Service may be subject to posted
                        limitations on usage, reproduction and/or dissemination. You are responsible for adhering to
                        such limitations if you upload the materials.</p>

                    <h3>Third Party Accounts</h3>

                    <p class="section-text">We may permit you, from time to time, to connect your nTitle account to
                        third party accounts. By connecting your nTitle account to your third party account, you
                        acknowledge and agree that you are consenting to the continuous release of information about you
                        to others (in accordance with your privacy settings on those third party sites). If you do not
                        want information about you to be shared in this manner, do not use this feature.</p>

                    <h3>Jurisdiction of Users</h3>

                    <p class="section-text">You are responsible for compliance with all local laws, whether in your
                        jurisdiction or elsewhere. You agree that you will not use the Content accessed through the
                        Products in any country or in any manner prohibited by any applicable laws, restrictions or
                        regulations.</p>

                    <h3>Indemnification</h3>

                    <p class="section-text">You agree to indemnify, defend and hold harmless nTitle, its officers,
                        directors, employees, agents, consultants, subsidiaries, affiliates and other related parties
                        (each an “Indemnified Party”), harm from and against all demands losses, costs, liabilities
                        claims, actions and expenses (including reasonable attorneys’ fees) relating to or arising out
                        of your use of or inability to use the Products or services, your violation of these Terms or
                        your violation of any rights of a third party, or your violation of any applicable laws, rules
                        or regulations. The nTitle reserves the right, at its own cost, to assume the exclusive defense
                        and control of any matter otherwise subject to indemnification by you, in which event you will
                        fully cooperate with nTitle in asserting any available defenses. Notwithstanding the foregoing,
                        you will have no obligation to indemnify, defend or hold harmless any Indemnified Party from or
                        against any liability, damages or costs incurred as a result of the gross negligence or willful
                        misconduct of such Indemnified Party.</p>

                    <h3>Disclaimers</h3>

                    <p class="section-text">YOUR USE OF THE PRODUCTS IS AT YOUR SOLE RISK. THE INFORMATION, SOFTWARE,
                        PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE PRODUCTS MAY INCLUDE INACCURACIES OR
                        TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. <span
                                class="en">n</span>TITLE AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN
                        THE PRODUCTS AT ANY TIME.</p>

                    <p class="section-text"><span class="en">n</span>TITLE AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS
                        ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, SECURITY AND ACCURACY OF <span
                                class="en">n</span>TITLE PRODUCTS, INCLUDING THE INFORMATION, SOFTWARE, PRODUCTS,
                        SERVICES AND RELATED GRAPHICS CONTAINED THEREIN, FOR ANY PURPOSE. TO THE MAXIMUM EXTENT
                        PERMITTED BY APPLICABLE LAW, <span class="en">n</span>TITLE PRODUCTS AND ALL RELATED
                        INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OR
                        CONDITION OF ANY KIND. <span class="en">n</span>TITLE AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL
                        WARRANTIES AND CONDITIONS WITH REGARD TO THE PRODUCT AND SUCH INFORMATION, SOFTWARE, PRODUCTS,
                        SERVICES AND GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY,
                        FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. <span class="en">n</span>TITLE
                        CANNOT ENSURE THAT ANY FILES OR OTHER DATA YOU DOWNLOAD FROM THE AS PART OF OR IN CONNECTION
                        WITH THE PRODUCTS WILL BE FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES, AND, IN
                        PARTICULAR, YOU ACCEPT ALL RISK AND LIABILITY IN CONNECTION WITH YOUR PARTICIPATION IN THE
                        THREAT ANALYSIS PORTION OF <span class="en">n</span>TITLE PRODUCTS.</p>

                    <h3>Limitation of Liability</h3>

                    <p class="section-text">TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL <span
                                class="en">n</span>TITLE AND/OR ITS SUPPLIERS BE LIABLE FOR (A) ANY INDIRECT, PUNITIVE,
                        INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT
                        LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED
                        WITH THE USE OR PERFORMANCE OF THE PRODUCTS, WITH THE DELAY OR INABILITY TO USE THE PRODUCTS OR
                        RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION,
                        SOFTWARE, OTHER PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE PRODUCTS, OR
                        OTHERWISE ARISING OUT OF THE USE OF THE <span class="en">n</span>TITLE PRODUCTS, WHETHER BASED
                        ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF <span class="en">n</span>TITLE
                        OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES; OR (B) ANY AMOUNT,
                        WHETHER INDIVIDUALLY OR IN THE AGGREGATE, EXCEEDING $25. BECAUSE SOME STATES/JURISDICTIONS DO
                        NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE
                        ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE PRODUCTS,
                        YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING <span class="en">n</span>TITLE PRODUCTS.
                    </p>

                    <p class="section-text">USE OF THE PRODUCTS IS UNAUTHORIZED IN ANY JURISDICTION THAT DOES NOT GIVE
                        EFFECT TO ALL PROVISIONS OF THESE TERMS, INCLUDING, WITHOUT LIMITATION, THIS SECTION.</p>

                    <h3>Termination</h3>

                    <p class="section-text">nTitle reserves the right, in its sole discretion, to terminate your access
                        to the Products and its related services or any portion thereof at any time and for any reason,
                        without notice.</p>

                    <h3>Reviews and Comments</h3>

                    <p class="section-text">We may, from time to time, permit you or other visitors to post reviews,
                        comments and other content; and submit suggestions, ideas, comments, questions, or other
                        information, so long as the content is not illegal, obscene, threatening, defamatory, invasive
                        of privacy, infringing of intellectual property rights, or otherwise injurious to third parties
                        or objectionable and does not consist of or contain software viruses, political campaigning,
                        commercial solicitation, chain letters, mass mailings, or any form of “spam.” You may not use a
                        false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of
                        a card or other content. nTitle reserves the right (but not the obligation) to remove or edit
                        such content, but does not regularly review posted content.</p>

                    <p class="section-text">Dispute Resolution by Binding Arbitration; Jury Trial Waiver; Class Action
                        Waiver.</p>

                    <h3>PLEASE READ THIS SECTION CAREFULLY AS IT AFFECTS YOUR RIGHTS.</h3>

                    <p class="section-text">For any and all controversies, disputes, demands, claims, or causes of
                        action between you and us (including the interpretation and scope of this Section and the
                        arbitrability of the controversy, dispute, demand, claim, or cause of action) relating to the
                        Products or these Terms (as well as any related or prior agreement that you may have had with
                        us), you and we agree to resolve any such controversy, dispute, demand, claim, or cause of
                        action exclusively through binding and confidential arbitration. A party who intends to seek
                        arbitration must first send to the other, by certified mail, a written Notice of Dispute
                        (“Notice”). The Notice to nTitle should be sent to nTitle GmbH, Joan Muyskenweg 22, 2nd Floor,
                        Unit 9, 1098 CJ, Amsterdam, The Netherlands (“Notice Address”). The Notice must (i) describe the
                        nature and basis of the claim or dispute and (ii) set forth the specific relief sought. If
                        nTitle and you do not resolve the claim within sixty (60) calendar days after the Notice is
                        received, you or nTitle may commence an arbitration proceeding. During the arbitration, the
                        amount of any settlement offer made by nTitle or you shall not be disclosed to the arbitrator
                        until after the arbitrator determines the amount, if any, to which you or nTitle is entitled. As
                        used in this Section, “we” and “us” mean nTitle GmbH. In addition, “we” and “us” include any
                        third party providing any product, service, or benefit in connection with the Products or these
                        Terms (as well as any related or prior agreement that you may have had with us) if such third
                        party is named as a co-party with us in any controversy, dispute, demand, claim, or cause of
                        action subject to this Section.</p>

                    <p class="section-text">The seat of the arbitration is The Netherlands. The venue of the arbitration
                        will be The Netherlands. The language of the arbitration will be English. The arbitration will
                        be conducted before one commercial arbitrator with substantial experience in resolving
                        commercial contract disputes. As modified by these Terms, and unless otherwise agreed upon by
                        the parties in writing, the arbitration will be governed by the Netherlands Arbitration
                        Institute Rules and, if the arbitrator deems them applicable, the Supplementary Procedures for
                        Consumer Related Disputes (collectively, the “Rules and Procedures”). Where no claims or
                        counterclaims exceed $10,000, the dispute will be resolved by the submission of documents
                        without a hearing, unless a hearing is requested by a party or deemed necessary by the
                        arbitrator, in which case, a party may elect to participate telephonically.</p>


                    <p class="section-text">You should review this provision carefully. To the extent permitted by
                        applicable law, you are GIVING UP YOUR RIGHT TO GO TO COURT to assert or defend your rights
                        EXCEPT for matters that you file in small claims court in the state or municipality of your
                        residence within the jurisdictional limits of the small claims court and as long as such matter
                        is only pending in that court. Additionally, notwithstanding this agreement to arbitrate, claims
                        of defamation, and infringement or misappropriation of the other party’s patent, copyright,
                        trademark, or trade secret shall not be subject to this arbitration agreement. Such claims shall
                        be exclusively brought in the courts located in The Netherlands. Additionally, notwithstanding
                        this agreement to arbitrate, you or us may seek emergency equitable relief before the state or
                        federal courts located in The Netherlands in order to maintain the status quo pending
                        arbitration and hereby agree to submit to the exclusive personal jurisdiction of the courts
                        located within The Netherlands for such purpose. A request for interim measures shall not be
                        deemed a waiver of the right to arbitrate.</p>


                    <p class="section-text">Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or
                        jury. You are entitled to a FAIR HEARING, BUT the arbitration procedures may be SIMPLER AND MORE
                        LIMITED THAN RULES APPLICABLE IN COURT. Arbitrators’ decisions are as enforceable as any court
                        order and are subject to VERY LIMITED REVIEW BY A COURT.</p>

                    <p class="section-text">You and we must abide by the following rules: (A) ANY CLAIMS BROUGHT BY YOU
                        OR US MUST BE BROUGHT IN THE PARTY’S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER
                        IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING; (B) THE ARBITRATOR MAY NOT CONSOLIDATE MORE
                        THAN ONE PERSON’S CLAIMS, MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS
                        PROCEEDING, AND MAY NOT AWARD CLASS-WIDE RELIEF; (c) in the event that you are able to
                        demonstrate that the costs of arbitration will be prohibitive as compared to the costs of
                        litigation, we will pay as much of your filing and hearing fees in connection with the
                        arbitration as the arbitrator deems necessary to prevent the arbitration from being cost-
                        prohibitive as compared to the cost of litigation, (d) we also reserve the right, in our sole
                        and exclusive discretion, to assume responsibility for any or all of the costs of the
                        arbitration; (e) the arbitrator will honor claims of privilege and privacy recognized at law;
                        (f) the arbitration will be confidential, and neither you nor we may disclose the existence,
                        content, or results of any arbitration, except as may be required by applicable law or for
                        purposes of enforcement of the arbitration award; (g) subject to the limitation of liability
                        provisions of these Terms, the arbitrator may award any individual relief or individual remedies
                        that are expressly permitted by applicable law; and (h) you and we will pay our respective
                        attorneys’ fees and expenses, unless there is a statutory provision that requires the prevailing
                        party to be paid its fees and litigation expenses and the arbitrator awards such attorneys’ fees
                        and expenses to the prevailing party, and, in such instance, the fees and costs awarded will be
                        determined by the applicable law.</p>

                    <p class="section-text">All aspects of the arbitration proceeding, and any ruling, decision, or
                        award by the arbitrator, will be strictly confidential for the benefit of all parties.</p>

                    <p class="section-text">This Section will survive termination of your account and these Terms as
                        well as any voluntary payment of any debt in full by you or any bankruptcy by you or us. With
                        the exception of subparts (a) and (b) above of this Section (prohibiting arbitration on a class
                        or collective basis), if any part of this arbitration provision is deemed to be invalid,
                        unenforceable, or illegal, or otherwise conflicts with the Rules and Procedures, then the
                        balance of this arbitration provision will remain in effect and will be construed in accordance
                        with its terms as if the invalid, unenforceable, illegal or conflicting part was not contained
                        herein. If, however, either subpart (a) or (b) above of this Section is found to be invalid,
                        unenforceable, or illegal, then the entirety of this arbitration provision will be null and
                        void, and neither you nor we will be entitled to arbitration. If for any reason a claim proceeds
                        in court rather than in arbitration, the dispute shall be exclusively brought in courts located
                        in The Netherlands.</p>

                    <p class="section-text">Notwithstanding any provision in these Terms to the contrary, nTitle agrees
                        that if it makes any future change to this arbitration section (other than a change to the
                        Notice Address) while you are a user of the nTitle Products, you may reject any such change by
                        sending us written notice within thirty (30) calendar days of the change to the Notice Address
                        provided above. By rejecting any future change, you are agreeing that you will arbitrate any
                        dispute between us in accordance with the language of this arbitration section as of the date
                        you first accepted these Terms (or accepted any subsequent changes to these Terms).</p>

                    <p class="section-text">YOU AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ANY CLAIM
                        OR CAUSE OF ACTION ARISING OUT OF OR RELATING TO THE SERVICE OR THESE TERMS MUST BE FILED WITHIN
                        ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE OR IT WILL BE FOREVER BARRED.</p>

                    <h3>User Disputes</h3>

                    <p class="section-text">You agree that you are solely responsible for your interactions with any
                        other user in connection with the Products and nTitle will have no liability or responsibility
                        with respect thereto. We reserve the right, but has no obligation, to become involved in any way
                        with disputes between you and any other user of the Products.</p>

                    <h3>General</h3>

                    <p class="section-text">These Terms will be governed by the laws of The Netherlands without regard
                        to its conflict of law provisions. With respect to any disputes or claims that do not fall
                        within the agreement to arbitrate, set out above, you and nTitle agree to submit to the personal
                        and exclusive jurisdiction of The Netherlands. The failure of nTitle to exercise or enforce any
                        right or provision of these Terms will not constitute a waiver of such right or provision. If
                        any provision of these Terms is found by a court of competent jurisdiction to be invalid, the
                        parties nevertheless agree that the court should endeavor to give effect to the parties’
                        intentions as reflected in the provision, and the other provisions of these Terms remain in full
                        force and effect. A printed version of this agreement and of any notice given in electronic form
                        will be admissible in judicial or administrative proceedings based upon or relating to this
                        agreement to the same extent and subject to the same conditions as other business documents and
                        records originally generated and maintained in printed form. You may not assign these Terms
                        without the prior written consent of nTitle, but nTitle may assign or transfer these Terms, in
                        whole or in part, without restriction. The section titles in these Terms are for convenience
                        only and have no legal or contractual effect. Notices to you may be made via either email or
                        regular mail.</p>

                    <p class="section-text">You agree that no joint venture, partnership, employment, or agency
                        relationship exists between you and nTitle as a result of this agreement or use of the Products.
                        nTitle’s performance of this agreement is subject to existing laws and legal process, and
                        nothing contained in this agreement is in derogation of nTitle’s right to comply with
                        governmental, court and law enforcement requests or requirements relating to your use of the
                        Products or information provided to or gathered by nTitle with respect to such use.</p>

                    <p class="section-text">Unless otherwise specified herein, these Terms constitutes the entire
                        agreement between the user and nTitle with respect to the Products and it supersedes all prior
                        or contemporaneous communications and proposals, whether electronic, oral or written, between
                        the user and nTitle with respect to the Products, except for any Terms of Token Sale into which
                        you enter with nTitle. A printed version of this agreement and of any notice given in electronic
                        form shall be admissible in judicial or administrative proceedings based upon or relating to
                        this agreement to the same extent and subject to the same conditions as other business documents
                        and records originally generated and maintained in printed form. It is the express wish to the
                        parties that this agreement and all related documents be written in English.</p>

                    <h3>Your Privacy</h3>

                    <p class="section-text">At nTitle, we respect the privacy of our users. For details please see our
                        Privacy Policy. By using the Products, you consent to our collection and use of personal data as
                        outlined therein.</p>

                    <h3>Notice for California Users</h3>

                    <p class="section-text">Under California Civil Code Section 1789.3, users of the Service from
                        California are entitled to the following specific consumer rights notice: The Complaint
                        Assistance Unit of the Division of Consumer Services of the California Department of Consumer
                        Affairs may be contacted in writing at 1625 North Market Blvd., Suite N 112, Sacramento, CA
                        95834, or by telephone at (916) 445-1254 or (800) 952-5210. You may contact us at nTitle GmbH,
                        Joan Muyskenweg 22, 2nd Floor, Unit 9, 1098 CJ, Amsterdam, The Netherlands.</p>

                    <h3>Contact Us</h3>

                    <p class="section-text">nTitle welcomes your questions or comments regarding these Terms via email
                        at <a class="maillink" href="mailto:contact@ntitle.network">contact@ntitle.network</a>.</p>

                </div>
            </div>
        </div>
        </div>
    </article>

{% endblock %}

