<section id="news-small" class="light-bg section-news-small">
    <div class="carousel">
        <button class="swiper-button-prev news-small-prev"></button>
        <button class="swiper-button-next news-small-next"></button>
        <div class="swiper-container section-news-small__carousel">
            <div class="swiper-wrapper">
                {% for article in newsSmall %}
                    <div class="swiper-slide">
                        <a target="_blank" href="{{ article.url }}" class="section-news-small__media">
                            <img class="section-news-small__media-img" src="{{ article.image }}" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

