<section class="light-bg section-dude">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator text-center" src="/img/pulse.png" alt="pulse site separator">
            </div>
            <div class="section-heading text-center">
                DECENTRALISED TECHNOLOGY AND APPLICATIONS ARE AT THE CORE OF THE NTITLE BCOMMERCE SOLUTION
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 flex-col text-center">
                <div class="row">
                    <div class="col-lg-12  text-center">
                        <img class="section-dude__icon" src="/img/dude/pencil.png" alt="pencil icon">
                        <h3 class="section-subheading section-dude__heading-item">LIQUID LICENSING TECHNOLOGY</h3>
                        <p>Tokenized game asset licensing & smart contract-driven ecosystems</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img class="section-dude__icon" src="/img/dude/block.png" alt="block icon">
                        <h3 class="section-subheading section-dude__heading-item">BCOMMERCE DAPPS</h3>
                        <p>Dashboards for developers, gamers and influencers</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 hero text-center">
                <img class="img-fluid dude-image" src="/img/dude/handshake.png" alt="ntitle hero">
            </div>
            <div class="col-md-5 flex-col text-center">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img class="section-dude__icon" src="/img/dude/tools.png" alt="tools icon">
                        <h3 class="section-subheading section-dude__heading-item">MARKETING TOOLBOX</h3>
                        <p>Connect with influencers, streaming integration and promotional discovery tools</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img class="section-dude__icon" src="/img/dude/p2p.png" alt="p2p icon">
                        <h3 class="section-subheading section-dude__heading-item">MOBILE TRADING DAPP</h3>
                        <p>Mobile wallet to store and trade digital assets</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
