.industries-item {

  &__description {
    @extend %col-text;
    color: $blue-on-dark;
    font-size: 15px;
  }

  &__icon {
    @extend %icon-border;
    color: $blue-on-dark;
    line-height: 2.5em;
    width: 2.5em;
    height: 2.5em;
  }
}

.industries-section {
  @include dottedBg;
}