<section class="industries-section dark-bg" id="industries">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">THE <span class="en">n</span>TITLE B-COMMERCE SOLUTION WORKS ACROSS A NUMBER OF INDUSTRIES</h2>
            </div>
        </div>

        <!--industries columns-->
        <!--first row-->
        <div class="row text-center">
            <div class="industries-item col-md-4">
                <i class="industries-item__icon fas fa-gamepad fa-2x"></i>
                <h4 class="col-heading">Gaming</h4>
            </div>
            <div class="industries-item col-md-4">
                <i class="industries-item__icon fas fa-2x fa-music"></i>
                <h4 class="col-heading">Music</h4>
            </div>
            <div class="industries-item col-md-4">
                <i class="industries-item__icon fas fa-2x fa-video"></i>
                <h4 class="col-heading">Video</h4>
            </div>
        </div>

        <!--second row-->
        <div class="row text-center">
            <div class="industries-item col-md-4">
                <i class="industries-item__icon fas fa-2x fa-book"></i>

                <h4 class="col-heading">Books</h4>
            </div>
            <div class="industries-item col-md-4">
                <i class="industries-item__icon fa fa-2x fa-code"></i>
                <h4 class="col-heading">Software</h4>
            </div>
            <div class="industries-item col-md-4">
                <i class="industries-item__icon fa fa-2x fa-file"></i>
                <h4 class="col-heading">Documents</h4>
            </div>
        </div>
    </div>
</section>
