.community-section {
  @include dottedBg;
}

.community-row {
  display: flex;
  justify-content: space-around;
}

.community-item {

  margin: 1.5rem;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    @extend %icon-border;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    line-height: 2.5em;
    width: 2.5em;
    height: 2.5em;
    text-decoration: none;

    &:hover {
      color: $dark;
      border-color: $light;
      background-color: $light;
    }
  }
}

@media(max-width: 767px) {
  .community-item {
    padding: 10px 0;
  }
}
