<section class="section-game">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12 section-game__review-wrapper">
                <h1 class="review__header">BLOCKCHAIN GAME</h1>
                <div class="review__redbull">
                    <span class="redbull__text">REVIEW BY</span>
                    <img class="redbull__img" src="img/redbull-min.png" />
                </div>
                <img class="review__quote-img" src="img/quote_icon-min.png">
                <span class="review__quote">
                    “Behind the scenes with the developers hoping to usher in cheaper gaming with their latest blockchain technology...”
                </span>
                <a
                        href="https://www.redbull.com/int-en/ntitle-fury-blockchain-game-interview-2018-13-09" target="_blank"
                        class="button-intro review__navi">GO TO REVIEW</a>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12 section-game__game-wrapper">
                <div class="game__eth">
                    <img class="game__eth-img" src="img/eth_test_ropsten-min.png" />
                </div>
                <div class="game__screen">
                    <a target="_blank" href="https://fury.ntitle.network/">
                        <img class="game__screen-img" src="img/game_screen-min.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
