<!doctype html>
<html lang="en">

<head>

    {% include "../utils/Meta/Meta.njk" %}

    {% include "../partials/styles.njk" %}

    <meta property="og:title" content="nTitle" />
    <meta property="og:url" content="https://ntitle.network" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://ntitle.network/img/middlemen_monster.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
    content="nTitle is a game marketplace built on the Ethereum peer-to-peer network where developers maintain control over their digital rights and gamers are empowered to freely buy and sell games without restrictions." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nTitle_network" />
    <meta name="twitter:image" content="https://ntitle.network/img/middlemen_monster.jpg" />
    <meta name="twitter:creator" content="@nTitle_network" />
    <meta name="twitter:title" content="nTitle" />
    <meta name="twitter:description"
          content="nTitle is a game marketplace built on the Ethereum peer-to-peer network where developers maintain control over their digital rights and gamers are empowered to freely buy and sell games without restrictions." />
</head>

<body>

<div class="overlay overlay--hidden">
    {% include "../components/Overlay/Overlay.njk" %}
</div>

{% include "../utils/Gtags/Gtags.njk" %}
{% include "../components/CookieBar/CookieBar.njk" %}

<!--video bacground and overlay-->
<div class="video-overlay"></div>

{% include "../components/Header/Header.njk" %}

{% block content %}

{% endblock %}

{% include "../components/Footer/Footer.njk" %}

{% include "../utils/Scripts/Scripts.njk" %}

</body>
</html>
