<!doctype html>
<html lang="en">

<head>

    {% include "../utils/Meta/Meta.njk" %}

    {% include "../partials/styles.njk" %}

    <meta property="og:title" content="nTitle" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta property="og:url" content="https://ntitle.network" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://ntitle.network/img/middlemen_monster.jpg" />
    <meta property="og:type" content="website" />
    <meta
            property="og:description"
            content="nTitle is a decentralized bcommerce software solution built on the Ethereum blockchain for game developers, gamers and influencers. It allows to seamlessly publish, market and trade digital games directly between each other." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nTitle_network" />
    <meta name="twitter:image" content="https://ntitle.network/img/middlemen_monster.jpg" />
    <meta name="twitter:creator" content="@nTitle_network" />
    <meta name="twitter:title" content="nTitle" />
    <meta
            name="twitter:description"
            content="nTitle is a decentralized bcommerce software solution built on the Ethereum blockchain for game developers, gamers and influencers. It allows to seamlessly publish, market and trade digital games directly between each other." />
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF9HS2Q"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="overlay overlay--hidden">
    {% include "../components/Overlay/Overlay.njk" %}
</div>

{% include "../utils/Gtags/Gtags.njk" %}
{% include "../components/CookieBar/CookieBar.njk" %}

<!--video bacground and overlay-->
<div class="video-overlay"></div>

{% include "../components/Header/Header.njk" %}

{% block content %}

{% endblock %}

{% include "../components/Footer/Footer.njk" %}

{% include "../utils/Scripts/Scripts.njk" %}

<!-- Google Tag Manager -->
<script type="text/javascript" defer>
(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TF9HS2Q');
</script>
<!-- End Google Tag Manager -->

</body>
</html>
