{% extends "default.njk" %}

{% block content %}
    {% include "../components/SectionIntro/SectionIntro.njk" %}
    {% include "../components/SectionBenefits/SectionBenefits.njk" %}
    {% include "../components/SectionDude/SectionDude.njk" %}
    {#{% include "../components/SectionOverview/SectionOverview.njk" %}#}
    {#{% include "../components/SectionJoin/SectionJoin.njk" %}#}
    {% include "../components/SectionNews/SectionNews.njk" %}
    {% include "../components/SectionIndustries/SectionIndustries.njk" %}
    {#{% include "../components/SectionTestimontials/SectionTestimontials.njk" %}#}
    {% include "../components/SectionFaq/SectionFaq.njk" %}
    {% include "../components/SectionTeam/SectionTeam.njk" %}
    {% include "../components/SectionCommunity/SectionCommunity.njk" %}
    {% include "../components/SectionContact/SectionContact.njk" %}
{% endblock %}