{% extends "default.njk" %}

{% block content %}
    {% include "../components/SectionIntro/SectionIntro.njk" %}
    {% include "../components/SectionNewsSmall/SectionNewsSmall.njk" %}
    {% include "../components/SectionBlockchainGame/SectionBlockchainGame.njk" %}
    {% include "../components/SectionDude/SectionDude.njk" %}
    {% include "../components/SectionDApp/SectionDApp.njk" %}
    {% include "../components/SectionBenefits/SectionBenefits.njk" %}
    {#{% include "../components/SectionOverview/SectionOverview.njk" %}#}
    {#{% include "../components/SectionJoin/SectionJoin.njk" %}#}
    {% include "../components/SectionPartners/SectionPartners.njk" %}
    {% include "../components/SectionIndustries/SectionIndustries.njk" %}
    {% include "../components/SectionNews/SectionNews.njk" %}
    {% include "../components/SectionEvents/SectionEvents.njk" %}
    {#{% include "../components/SectionTestimontials/SectionTestimontials.njk" %}#}
    {% include "../components/SectionFaq/SectionFaq.njk" %}
    {% include "../components/SectionTeam/SectionTeam.njk" %}
    {% include "../components/SectionCommunity/SectionCommunity.njk" %}
    {% include "../components/SectionContact/SectionContact.njk" %}
{% endblock %}