{% extends "./default.njk" %}

{% block content %}

    <div class="notfound">
        <div class="notfound__container">
            <img src="/img/404.png" class="notfound__image"/>
            <h1 class="notfound__headline headline headline--primary">
                Oops, looks like<br/>this page is missing.
            </h1>
            <p class="notfound__text">But don't worry... the game is not over.</p>
            <a class="notfound__button btn button-light" href="/">Back to homepage</a>
        </div>
    </div>

{% endblock %}

