<section class="section-newsletter newsletter light-bg" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse.png" alt="pulse site separator">
                {% if newsletter.headline %}
                    <h2 class="section-headingwithsub text-uppercase section-newsletter__text">{{ newsletter.headline | safe }}</h2>
                {% endif %}
                {% if  newsletter.ctaText %}
                    <h3 class="cta-text"><strong>{{ newsletter.ctaText | safe}}</strong></h3>
                {% endif %}

                <!--signup box mailchimp-->
                <div class="col-lg-12">
                    <div class="newsletter-form-group">
                        <div class="col-12">
                            <input type="email" value="" name="EMAIL" placeholder="email@domain.com" id="newsletterEmail" required>
                        </div>
                        <div class="news-thanks-message" id="newsletterSucces">Thanks for subscribing!</div>
                        <div class="newsletter-privacy-check" id="NewsletterPrivacyCheck">
                            <input type="checkbox" name="NewsletterTermsCheck" id="NewsletterTermsCheck">
                            <label for="NewsletterTermsCheck">I agree to the <a href="/terms">terms & conditions</a> and <a href="/privacy">privacy policy</a></label>
                        </div>
                        <div id="newsletterError"></div>
                        <div class="col-12" id="submitNewsletterContainer">
                            <button id="submitNewsletter" class="btn button-light">{{ newsletter.buttonText }}</button>
                        </div>
                        <div class="col-12" id="closeNewsletterContainer">
                            <button id="closeNewsletter" class="btn button-light">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
