<section class="section dark-bg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 funding-center">
                    <div class="funding-header">
                        <h1 class="site-heading upper">
                            Discover a New Way to Fund
                            Game Development
                        </h1>
                        <span class="section-subheading">
                            with nTitle’s Independent Game Developer Fund 2018
                        </span>
                        <div class="banner">
                            $2.5M in funding available!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid section-funding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-intro__intro-wrapper">
                        <p>
                            The Independent Game Developer Fund 2018 is a funding source for independent game developers. The fund is financed by nTitle and is open to qualified game development firms.
                        </p>
                        <p>
                            IGDF has been created to help stimulate growth in the industry by supporting companies to become more innovative, create new IP and grow in strength and size. We’re actively looking to work with the best
                            talent in the world.
                        </p>
                        <a href="#" class="intro-newsletter">
                            <button class="btn button-light">Apply for funding</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="video-wrapper">
                        <div class="video-back">
                            <img src="/img/middlemen_monster.jpg"
                                 alt="yt animation video poster - middlemen monster">
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/AIRNRVsv2OA?rel=0&amp;showinfo=0"
                                    gesture="media"
                                    allow="encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <article>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 txt-center ">
                        <h1 class="site-heading upper funding-header-margin">
                            NTitle is Using Blockchain Technology
                            to Disrupt the Gaming Industry
                        </h1>
                        <p>
                            Our aim is to help game developers integrate blockchain technology into their games to help them get — and stay — financially independent. Our technology can help game developers to:
                        </p>
                        <ul class="funding-list">
                            <li class="funding-list-item">
                                <img class="funding-dot" src="img/dot.png" alt="dot">
                                <span>Increase profits by up to 30% (we remove the “middleman”)</span>
                            </li>
                            <li>
                                <img src="img/dot.png" alt="dot">
                                <span>Fund new projects more efficiently</span>
                            </li>
                            <li>
                                <img src="img/dot.png" alt="dot">
                                <span>Realise new revenue streams through peer-to-peer game trading</span>
                            </li>
                            <li>
                                <img src="img/dot.png" alt="dot">
                                <span>Improve cash flow with instant payments</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 txt-center ">
                    <h1 class="site-heading upper funding-header-margin">
                        How do I apply for funding?
                    </h1>

                    <span class="funding-num">1</span>
                    <p class="funding-step">To get started, please click on the “Apply for Funding” button  and complete the application.</p>

                    <span class="funding-num">2</span>
                    <p class="funding-step">Your application will then be reviewed by our Fund Manager to determine your eligibility.</p>

                    <span class="funding-num">3</span>
                    <p class="funding-step">You will receive an email or phone call with a confirmation of your eligibility and instructions on the next steps in the application process.</p>

                    <a href="#" class="intro-newsletter">
                        <button class="btn button-light">Apply for funding</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
