<section class="section prize-form">
    <h1 class="headline prize-form__headline">Redeem coupon code</h1>
    <form class="prize-form__container container">
        <div class="col-sm-6 offset-sm-3">
            <input name="EMAIL" class="input prize-form__input prize-form__email" required
                   type="email" placeholder="E-MAIL ADDRESS">
            <input type="text" minlength="10" maxlength="10" name="CODE"
                   class="input prize-form__input prize-form__code" required placeholder="CODE">
            <div class="prize-form__message-container"></div>
            <button class="btn button-light button prize-form__button" type="submit">Submit</button>
        </div>
    </form>
</section>
