<!-- jquery -->
<script src="js/jquery-3.2.1.min.js"></script>

<!--popper-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

<!--bootstrap-->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- jquery easing -->
<script src="js/jquery.easing.min.js"></script>

<!-- scroll-reveal -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<!-- jquery form -->
<script src="js/jquery.form.min.js"></script>

<!-- scrips -->
<script src="js/scripts.js"></script>