<section class="community">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <img class="separator" src="img/pulse-separator.png" alt="pulse site separator">
                <h2 class="section-heading text-uppercase">JOIN OUR COMMUNITY</h2>
            </div>
        </div>

        <div class="row text-center social-icons">
            <div class="social offset-sm-2 col-sm-2">
                <a href="https://www.linkedin.com/company/ntitle/" target="_blank" aria-label="Go to our Linkedin">
                    <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                </a>
            </div>
            <div class="social col-sm-2">
                <a href="https://github.com/ntitle" target="_blank" aria-label="Go to our Github">
                    <i class="fab fa-2x fa-github" aria-hidden="true"></i>
                </a>
            </div>

            <div class="social col-sm-2">
                <a href="https://www.youtube.com/channel/UCf9reBcCqp4eNcyVawpovXg" target="_blank" aria-label="Go to our Youtube">
                    <i class="fab fa-2x fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
            <div class="social col-sm-2">
                <a href="https://medium.com/@ntitle" target="_blank" aria-label="Go to our Medium">
                    <i class="fab fa-2x fa-medium-m" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>