<section class="newsletter light-bg" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse-separator.png" alt="pulse site separator">
                <h2 class="section-headingwithsub text-uppercase">KEEP UP-TO-DATE WITH <span class="en">n</span>TITLE’S PROGRESS</h2>
                <h3 class="section-subheading">Great things come to those that sign up (periodic updates, investor info, previews, special offers and much more)</h3>

                <!--signup box mailchimp-->
                <div class="col-lg-12">
                    <form action="https://nTitle.us17.list-manage.com/subscribe/post-json?u=38836b86bdc2b88a242addc37&amp;id=048dc960ca" method="post" class="mailchimp-form">
                        <div class="col-12">
                            <input type="email" value="" name="EMAIL" placeholder="email@domain.com" required>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_38836b86bdc2b88a242addc37_048dc960ca" tabindex="-1" value="">
                        </div>
                        <div class="news-thanks-message">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn button-light">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
