{% macro TeamMember(teamMember) %}
    <div class="col-xl-4 col-lg-6 team-member">
        <div class="team-member-info">
            <img class="mx-auto rounded-circle" src="{{ teamMember.avatar }}" alt="{{ teamMember.name }}">
            <h3 class="col-heading">{{ teamMember.displayName | safe }}</h3>
            <h4>{{ teamMember.role }}</h4>
            <p class="team-member-description">{{ teamMember.description }}</p>
        </div>
        <ul class="list-inline social-buttons">
            {% if teamMember.linkedin %}
            <li class="list-inline-item">
                <a href="{{ teamMember.linkedin }}" target="_blank"
                   aria-label="Go to team member Linkedin">
                    <i class="fab fa-2x fa-linkedin-in"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

<section class="light-bg team" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse-separator.svg" alt="pulse site separator">
                <h2 class="section-heading text-uppercase">Our team</h2>
            </div>
        </div>
        <div class="row">
            {% for teamMember in team.members %}
                {{ TeamMember(teamMember) }}
            {% endfor %}
        </div>

        <!--advisors-->

        <div class="row">
            <div class="col-xl-12 text-center">
                <hr class="separator line-separator" />
                <h2 class="section-heading text-uppercase">Our advisors</h2>
            </div>
        </div>

        <div class="row">

            {% for advisor in team.advisors %}
                {{ TeamMember(advisor) }}
            {% endfor %}

        </div>

    </div>
</section>
