<section class="light-bg team" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse-separator.png" alt="pulse site separator">
                <h2 class="section-heading text-uppercase">Our team</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-lg-6 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/peter.jpg" alt="Peter van Grinsven">
                    <h3 class="col-heading">Peter van<br>Grinsven</h3>
                    <h4>CEO</h4>
                    <p class="team-member-description">After receiving his Masters Degree in International Management from Maastricht University in the Netherlands, Peter went on to work for PWC (PricewaterhouseCoopers), specialising in internet business consultancy. The internet has been his
                        passion, ever since. Over the past 15 years Peter has built up a strong background in digital consulting and outsourcing. His ultimate goal is to play an active part in the improvements that the internet brings and make a genuine contribution.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/connaxisstaycompetitive/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-6 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/pawel.jpg" alt="Pawel Pinio">
                    <h3 class="col-heading">Pawel<br>Pinio</h3>
                    <h4>CTO</h4>
                    <p class="team-member-description">Paweł is a senior software engineer with extensive experience in building fault tolerant back-end systems. He started his career as a full stack developer before moving to work on diagnostics and radiology information systems. He then moved
                        into interdisciplinary consulting which allowed him to build transformative platforms. Paweł is a strong evangelist of distributed systems, blockchain and decentralization and a firm technical enthusiast of the Ethereum platform and community.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/pawelpinio/" target="blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-6 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/john.jpg" alt="John Clancy">
                    <h3 class="col-heading">John<br>Clancy</h3>
                    <h4>CMO</h4>
                    <p class="team-member-description">John Clancy has over 20 years experience in defining, developing and implementing innovative marketing, PR and sales strategies for new and established companies. His clients are based in Europe, the Middle East and North and South America.
                        He is also a marketing and business development lecturer at Inholland University in the Netherlands, visiting professor at the University of Bari Aldo Moro, serial entrepreneur, app developer and author of two books.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/johndavidclancy/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-6 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/gonzalo.jpg" alt="Gonzalo Balabasquer">
                    <h3 class="col-heading">Gonzalo<br>Balabasquer</h3>
                    <h4>Blockchain Engineer</h4>
                    <p class="team-member-description">Gonzalo is a systems engineer who started his professional career as a PHP programmer. In the years that followed, he led a team of developers at a fast-paced agency located in Argentina. Recently, he followed his passion and returned to a technical position to leverage his IT experience as a full stack blockchain developer participating as an active developer of the MakerDao project.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/gbalabasquer/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-6 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/bastien.jpg" alt="Bastien Hugon">
                    <h3 class="col-heading">Bastien<br>Hugon</h3>
                    <h4>Project Manager</h4>
                    <p class="team-member-description">Bastien is a project manager with excellent strategic and operational skills. He has leadership competencies for team building, client relations, negotiation, decision making, problem solving and conflict management in French, Spanish and English. He has 10+ years of experience in QA, IT infrastructure and service delivery working with companies like HCL, DANA, Ford, L’Oreal, Nokia and bioMerieux.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/bastienhugon/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-6 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/marcin.jpg" alt="Marcin Gierlak">
                    <h3 class="col-heading">Marcin<br>Gierlak</h3>
                    <h4>Blockchain Engineer</h4>
                    <p class="team-member-description">Marcin has a strong background in software engineering including cloud, mobile platforms, cryptography and security, system level programming, and systems development life cycle. He has experience in developing and implementing concepts and technologies for IoT, hands-on experience with Ethereum/Solidity, blockchain technologies, distributed ledger, cryptocurrencies and Smart Contracts.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/marcingierlak/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--advisors-->

        <div class="row">
            <div class="col-xl-12 text-center">
                <img class="separator img-fluid" src="/img/shining_line.png" alt="line site separator" aria-label="Go to team member Linkedin">
                <h2 class="section-heading text-uppercase">Our advisors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/Anthony.jpg" alt="Anthony Eufemio" >
                    <h3 class="col-heading">Anthony<br>Eufemio</h3>
                    <h4>CTO, Digixdao</h4>
                    <p class="team-member-description">Anthony is a 19 year veteran of the software development, computer security, and IT industries. He is the Chief Technology Officer and Co-Founder of Digix Global which raised over $5.5 Million in 16 hours (now currently valued at $150,000,000.00) in the first ever fully on-chain Ethereum ICO. As an early adopter and contributor in the Ethereum ecosystem he made the first ever transaction on Ethereum and developed several open sourced Ethereum tools and libraries. He has a BSc in
                        Computer Science from USC.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/anthony-eufemio-a4284b100/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/michael.jpg" alt="Michael Widjaja">
                    <h3 class="col-heading">Michael<br>Widjaja</h3>
                    <h4>Managing Director, Accenture</h4>
                    <p class="team-member-description">Michael is responsible for global application security technology. His expertise covers the design, implementation and operations of complex software solution architectures, SOA, integration and enterprise architecture, security, digital transformations, omni channel platforms, rules and document management, data warehouse, cloud, infrastructure, and more. He leads large re-engineering, ERP, commercial and supply chain programs with solutions built on Oracle, Siebel, Retek, SAP, Guidewire, Java, Microsoft, .NET, Google, and Lotus.</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/michaelwidjaja/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 team-member">
                <div class="team-member-info">
                    <img class="mx-auto rounded-circle" src="/img/team/gavin.jpg" alt="Gavin Nicol">
                    <h3 class="col-heading">Gavin<br>Nicol</h3>
                    <h4>CTO, Context Labs BV</h4>
                    <p class="team-member-description">Gavin has been a technology leader and innovator for 25+ years working at corporate research centers in Japan, and corporations and startups in the US and the Netherlands. Through his work at EBT, a founding member of the W3C, he has broadly influenced many of the technologies underlying the modern web. He played a significant role in the development of the HTML, HTTP, XML, XSL, DOM, XPath, SVG, XQuery and XLink standards, and in building some of the earliest prototypes and implementations of the technologies. He is considered "the father of I18N on the WWW".</p>
                </div>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/gtnicol/" target="_blank" aria-label="Go to team member Linkedin">
                            <i class="fab fa-2x fa-linkedin-in" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>