<section class="text-center faq" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">FAQ</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <dl>
                    <dt data-toggle="collapse" class="faq-heading collapsed" data-target="#faq-1-1">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-minus vertical" aria-hidden="true"></i>
                        What is <span class="en">n</span>Title?
                    </dt>
                    <dd id="faq-1-1" class="collapse">
                        nTitle is a powerful platform built on top of the Ethereum peer-to-peer network where game developers have full control over the sale of their games without the exorbitant costs and lack of marketing support they currently receive. And at the same time, gamers actually own the games they purchase along with the alienable right to lend, sell, or gift it to whomever they like.
                    </dd>

                    <dt data-toggle="collapse" class="faq-heading collapsed" data-target="#faq-1-2">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-minus vertical" aria-hidden="true"></i>
                        Is <span class="en">n</span>Title just for gaming?
                    </dt>
                    <dd id="faq-1-2" class="collapse">
                        Ntitle is designed to give back control to both creators and consumers of digital products. We will start with gaming, but our blockahin based licensing platfrom can also be used for other industries like books, music, video, entreprise software, documents, cetificates and diplomas.
                    </dd>

                    <dt data-toggle="collapse" class="faq-heading collapsed" data-target="#faq-1-3">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-minus vertical" aria-hidden="true"></i>
                        What is the difference between <span class="en">n</span>Title and other gaming marketplaces?
                    </dt>
                    <dd id="faq-1-3" class="collapse">
                        nTitle is a next-generation gaming platform. Unlike other platforms, nTitle will provide a reward system using gamification and other motivational tools that will allow both gamers and game developers to profit. Gamers will earn money, rewards and free games for helping to promote games and developers will build an army of ambassadors by connecting with gamers and profiting from their social reach. On top of that, nTitle will enable gamers and game developers to profit from a secondary market where gamers will actually own the game they purchase along with the alienable right to lend, sell, or gift it to whomever they like and developers will have full control over the sale of their games without the exorbitant costs and lack of marketing support they currently receive.
                    </dd>

                    <dt data-toggle="collapse" class="faq-heading collapsed" data-target="#faq-2-1">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-minus vertical" aria-hidden="true"></i>
                        What is the purpose of applying blockchain technology to a game trading marketplace?
                    </dt>
                    <dd id="faq-2-1" class="collapse">
                        Blockchain technology has many advantages. The one that we focus on with our licencing platform is specifically "proof of ownership". If ownership, identity and authentication are established, then licenses and payments can seamlessly change hands through both primary and secondary markets.
                    </dd>

                    <dt data-toggle="collapse" class="faq-heading collapsed" data-target="#faq-2-2">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-minus vertical" aria-hidden="true"></i>
                        Is there a tokensale planned to fund <span class="en">n</span>Title?
                    </dt>
                    <dd id="faq-2-2" class="collapse">
                        Yes, we are planning to do a crowdfunding event at the end of the first quarter of 2018. You can subscribe to our newsletter to stay up to date on our progress.
                    </dd>

                    <dt data-toggle="collapse" class="faq-heading collapsed" data-target="#faq-2-3">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <i class="fa fa-minus vertical" aria-hidden="true"></i>
                        How can I get in touch with staff at <span class="en">n</span>Title?
                    </dt>
                    <dd id="faq-2-3" class="collapse">
                        Please use the contact form at the bottom of this page or if you prefer, write us an email to <a class="maillink" href="mailto:contact@ntitle.network">contact@ntitle.network</a> or contact us via one of our social media channels and we will be happy to assist with any enquiry you may have about our project.
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</section>