<section class="community-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse-separator.svg" alt="pulse site separator">
                <h2 class="section-heading text-uppercase">JOIN OUR COMMUNITY</h2>
            </div>
        </div>
        <div class="row text-center">
            {% for socialMedium in social %}
                <div class="community-item {{ 'offset-sm-2' if loop.first }} col-sm-2 col-xs-6">
                    <a href="{{ socialMedium.url }}" target="_blank" aria-label="{{ socialMedium.cta }}">
                        <i class="community-item__icon fab fa-2x fa-{{ socialMedium.icon }}" aria-hidden="true"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
