<section class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <blockquote>
                    <h2 class="testimonial-text"><i class="fa fa-quote-left fa-1x" aria-hidden="true"></i> Every time a game is resold on nTitle's secondary marketplace, the original game developer will receive a commission on that sale. At the same time, the gamer will turn his used game back into cash so he can purchase a new game. It’s a win-win for everyone! <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
                    <p class="testimonial-author">- Peter van Grinsven, CEO, nTitle</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>