<section class="newsletter light-bg" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/ntitle_wave_new_onwhite_rgb.png" alt="pulse site separator">
                {% if newsletter.headline %}
                <h2 class="section-headingwithsub text-uppercase">{{ newsletter.headline | safe }}</h2>
                {% endif %}
                {% if  newsletter.subtext %}
                <h3 class="section-subheading">{{ newsletter.subtext | safe }}</h3>
                {% endif %}
                {% if  newsletter.ctaText %}
                <h3 class="cta-text"><strong>{{ newsletter.ctaText | safe}}</strong></h3>
                {% endif %}

                <!--signup box mailchimp-->
                <div class="col-lg-12">
                    <form action="{{ newsletter.action }}" method="post" class="mailchimp-form">
                        <div class="col-12">
                            <input type="email" value="" name="EMAIL" placeholder="email@domain.com" required>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_38836b86bdc2b88a242addc37_048dc960ca" tabindex="-1" value="">
                        </div>
                        <div class="news-thanks-message">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn button-light js-scroll-trigger">{{ newsletter.buttonText }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
