<section class="industries-section dark-bg" id="industries">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="separator" src="/img/ntitle_wave_new_onwhite_rgb.png" alt="pulse site separator">
        <h2 class="section-heading text-uppercase"><span class="en">n</span>Title IS TAKING BACK CONTROL ACROSS A NUMBER OF INDUSTRIES</h2>
        <p class="section-text">The traditional way of protecting data focuses on control. Control over networks, control over devices, control over apps and control over services. The companies behind these controls say that it is necessary to fight copyright infringement and keep consumers safe from viruses. But there's no evidence of this. Instead, it simply helps stifle innovation and competition. nTitle is here to eliminate that control by putting the power back in the hands of the consumers and the creators that drive the digital world.
        </p>
        <h3 class="section-subheading text-uppercase">Although initially focused on gaming, <span class="en">n</span>Title’s vision is to liberate a range of industries, including:</h3>
      </div>
    </div>

    <!--industries columns-->
    <!--first row-->
    <div class="row text-center">
      <div class="industries-item col-md-4">
        <i class="industries-item__icon fas fa-gamepad fa-2x"></i>
        <h4 class="col-heading">Gaming</h4>
        <p class="industries-item__description">
         The restrictions imposed, the lack of clarity, and the unwieldiness of the current system have had a negative effect on this industry.
        </p>
      </div>
      <div class="industries-item col-md-4">
        <i class="industries-item__icon fas fa-2x fa-music"></i>
        <h4 class="col-heading">Music</h4>
        <p class="industries-item__description">DRM restrictions ensure that consumers are frustrated and have limited rights to use the work without a licensing agreement.</p>
      </div>
      <div class="industries-item col-md-4">
        <i class="industries-item__icon fas fa-2x fa-video"></i>
        <h4 class="col-heading">Video</h4>
        <p class="industries-item__description">DRM technologies are employed simply because unauthorised use of protected video content can result in copyright infringement, which could lead to legal challenges. </p>
      </div>
    </div>

    <!--second row-->
    <div class="row text-center">
      <div class="industries-item col-md-4">
        <i class="industries-item__icon fas fa-2x fa-book"></i>

        <h4 class="col-heading">Books</h4>
        <p class="industries-item__description">DRM makes ebooks more complex to use and to sell, making it unpopular with consumers and limiting publishers options to sell ebooks directly or through niche outlets.</p>
      </div>
      <div class="industries-item col-md-4">
        <i class="industries-item__icon fa fa-2x fa-code"></i>
        <h4 class="col-heading">Software</h4>
        <p class="industries-item__description">With software becoming more prevalent in our everyday lives, both consumers and developers of software are affected in numerous ways, most of them negatively. </p>
      </div>
      <div class="industries-item col-md-4">
        <i class="industries-item__icon fa fa-2x fa-file"></i>
        <h4 class="col-heading">Documents</h4>
        <p class="industries-item__description">Organisations protect their digital assets either by leaving DRM up to the users or they go crazy and attempt to protect everything at the expense of the customer.</p>
      </div>
    </div>
  </div>
</section>
