<section class="light-bg" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse-separator.svg" alt="pulse site separator">
                <h2 class="section-headingwithsub text-uppercase"><span class="en">n</span>Title IS GIVING DEVELOPERS
                    <br/>AND GAMERS BACK THEIR POWER!</h2>
                <h3 class="section-subheading">Are you passionate about gaming but feel the industry is unfairly
                    structured? Well we do! That’s why we’ve created nTitle.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 flex-col text-center">
                <div class="row">
                    <div class="col-lg-12  text-center">
                        <i class="fa fa-random from-left"></i>
                        <h4 class="section-smallheading from-left"
                            data-sr="please, can you enter left and then move 15px ?">nTitle is a peer-to-peer network
                            that cuts out the stranglehold that marketplaces and other “middlemen” have on the gaming
                            industry.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fas fa-users from-left"></i>
                        <h4 class="section-smallheading from-left">nTitle is about community empowerment. It’s about
                            activating gamers and empowering developers to take back control of their rights.</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2 hero text-center">
                <img class="img-fluid dude-image" src="/img/n_dude.svg" alt="ntitle hero">
            </div>
            <div class="col-md-5 flex-col text-center">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fa fa-gamepad from-right"></i>
                        <h4 class="section-smallheading from-right">With nTitle, gamers will actually own the game they
                            purchase along with the alienable right to lend, sell, or gift it to whomever they
                            like.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fa fa-code-branch from-right"></i>
                        <h4 class="section-smallheading from-right">With nTitle, game developers will have full control
                            over the sale of their games without the exorbitant costs and lack of marketing support they
                            currently receive.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-uppercase">Won’t you join us?</h3>
            </div>
        </div>
    </div>
</section>
