<section class="section-intro video">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 section-intro__intro-wrapper">
                    <h1 class="col-heading">
                        <span class="en">n</span>Title Disrupts the Gaming Industry!
                    </h1>
                    <p>
                        We’re building the next generation gaming platform – one that puts the power back where it
                        belongs – in the hands of the independent developers and gamers who drive the industry.
                    </p>
                    <p class="text-center text-md-left section-intro__cta"><strong>Watch the video to learn more!</strong></p>
                </div>
                <div class="col-lg-8">
                    <div class="video-wrapper">
                        <div class="video-back">
                            <img src="/img/middlemen_monster.jpg" alt="yt animation video poster - middlemen monster">
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/9DApWI0_NG0?rel=0&amp;showinfo=0" gesture="media"
                                    allow="encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
