<!--font awesome 5-->
<link href="vendor/font-awesome5/css/fontawesome-all.css" rel="stylesheet" type="text/css">

<!--main font - nunito sans-->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400" rel="stylesheet">

<!-- normalize CSS -->
<link href="css/normalize.css" rel="stylesheet">

<!-- bootstrap CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- custom CSS -->
<link href="css/styles.css" rel="stylesheet">