<!--font awesome 5-->

<!--main font - nunito sans-->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400" rel="stylesheet">


<!-- bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

<!-- custom CSS -->
<link href="css/styles.css" rel="stylesheet">