.overlay {

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
    z-index: 1001;
    background: rgba(0,0,0, .8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    padding: 6rem;
    overflow: hidden;

    @media (max-width: 767px) {
      padding: 2rem;
    }
  }
}

.scroll-off {
  overflow: hidden;
}

.scroll-on {
  overflow: auto;
}

.section-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 12rem);

  @media (max-width: 767px) {
    width: calc(100% - 4rem);
  }
}