{% from "../EcosystemItem/EcosystemItem.njk" import ecosystemItem %}

<section class="section section-ecosystem light-bg" id="ecosystem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-headingwithsub text-uppercase">USING <span class="en">n</span>Title
                </h2>
                <h3>
                    <strong>EVERY</strong> GAME DEVELOPER CAN BECOME A GLOBAL BRAND
                    <br />
                    <strong>EVERY</strong> GAMER CAN BECOME A POPULAR INFLUENCER
                </h3>
                <h3 class="section-subheading">Are you passionate about gaming but feel the industry is unfairly
                    structured? Well we do! That’s why we’ve created nTitle.</h3>
            </div>
        </div>

        <div class="section-ecosystem__features-container">
            <div class="section-ecosystem__tabs-wrapper">
                <ul class="section-ecosystem__tabs-list">
                    {% for section in ecosystem.sections %}
                        {% if loop.index == 1 %}
                            <div class="section-ecosystem__tabs-label">Developer benefits</div>
                        {% endif %}

                        {% if loop.index == 5 %}
                            <div class="section-ecosystem__tabs-label">Gamer benefits</div>
                        {% endif %}
                        <li data-trigger-id="eco-section-{{ loop.index }}"
                            class="section-ecosystem__tab {{ 'section-ecosystem__tab--active' if loop.index == 1 }} section-ecosystem__tab--{{ section.theme }}">
                            <img src="/img/ecosystem/{{ section.themeIcon }}"
                                 class="section-ecosystem__tab-icon"/>
                            <span>{{ section.tab }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section-ecosystem__content">
                {% for section in ecosystem.sections %}
                    <section id="eco-section-{{ loop.index }}"
                             class="section-ecosystem__content-section {{ 'section-ecosystem__content-section--visible' if loop.index == 1 }}">
                        {{ ecosystemItem(headline=section.headline, subheadline=section.subHeadline, text=section.text, theme=section.theme, themeIcon=section.themeIcon) }}
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
