.section-intro {
  padding: 150px 0 50px;
  @include introBg;

  &__context-names {
    font-size: 17px;
    margin-bottom: 4rem;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    @media (max-width: 990px) {
      width: 100%;
    }
  }

  &__header-text {
    color: #3ebefe;
    font-size: 20px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__body-text {
    margin-top: 1.5rem;
    color: #fefeff;
    padding: 0 1rem;
    text-align: center;
    font-size: 18px;
  }

  &__papers {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title-row {
    text-align: center;
    margin-bottom: 50px;
    //border-top: 2px solid #243644;
    //border-bottom: 2px solid #243644;

    .col-heading {
      font-size: 1.7em;
      display: inline;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 767px) {
      margin-top: 25px;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
    padding: 0;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: 990px) {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: column;

    @media (max-width: 990px) {
      width: 100%;
      //padding: 0;
      //flex-wrap: wrap;
    }
  }

  &__community {
    width: 80%;
    margin-left: 1px;
    display: flex;
    justify-content: space-between;

    .community-item {
      margin: 0;
    }

    @media (max-width: 990px) {
      flex-wrap: wrap;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  &__mockup {
    display: flex;
    flex-direction: column;
    //padding: 0 0 2rem 2rem;
    justify-content: space-around;

    @media (max-width: 768px) {
      justify-content: center;
      padding: 0;
    }
  }

  &__intro-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    z-index: 5;

    .col-heading, p {
      width: 100%;
    }

    @media (max-width: 768px) {
      display: block;
    }

  }

  &__cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;

    @media (max-width: 1023px) {
      padding: 0 2rem;
    }

    &__telegram {
      flex: 0 0 calc(33% - 1rem);
      width: calc(50% - 1rem);
      min-width: auto;

      @media (max-width: 1023px) {
        width: auto;
        flex: 1 1 auto;
      }
      @media (max-width: 767px) {
        width: 100%;
        flex: 1 1 100%;
        margin-bottom: 1rem;
      }
    }

    &__whitelist {
      flex: 0 0 calc(33% - 1rem);
      width: calc(50% - 1rem);
      min-width: auto;

      @media (max-width: 1023px) {
        width: auto;
        flex: 1 1 auto;
        margin: 0 2rem;
      }
      @media (max-width: 767px) {
        width: 100%;
        flex: 1 1 100%;
        margin: 0 0 1rem 0;
      }
    }

    &__newsletter {
      flex: 0 0 calc(33% - 1rem);
      width: calc(50% - 1rem);
      min-width: auto;

      @media (max-width: 1023px) {
        width: auto;
        flex: 1 1 auto;
      }
    }
  }
}

.intro-newsletter {
  color: $blue-on-light;
  display: flex;

  &:focus, &:active {
    color: $blue-on-light;
  }

  button {
    color: $blue-on-light;
    margin-top: 20px;

    &:focus, &:active {
      color: $blue-on-light;
    }
  }

  @media (max-width: 990px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.mockap-ui {
  height: 35rem;
  object-fit: cover;
  margin-left: 5rem;

  @media (min-width: 1600px) {
    height: 40rem;
    position: absolute;
  }

  @media (min-width: 1200px) {
    height: 38rem;
    position: absolute;
  }

  @media (max-width: 990px) {
    margin-top: 2rem;
  }

  @media (max-width: 667px) {
    height: 30rem;
  }

  @media (max-width: 667px) {
    height: 20rem;
  }
}

.mockup-ui-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

.button-intro {
  //@include resetButton();
  color: $blue-on-light;
  min-width: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: .9rem;
  border: 2px solid $blue-on-light;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 400;
  display: inline-block;
  padding: 0 .8rem;
  line-height: calc(3rem - 4px);
  border-radius: 0.5rem;
  white-space: nowrap;
  text-decoration: none;
  margin: .5rem 0;
  width: 100%;
  //border-image-source: linear-gradient(lightgreen, darkgreen);
  //border-image-slice: 20;

  @media (max-width: 767px) {
    margin: 10px 0;
    width: 100%;
  }

  &:hover {
    border: 2px solid $blue-on-light;
    background: $blue-on-light;
    color: white;
    fill: white;
    stroke: white;
    text-decoration: none;

  }

  &:focus, &:active {
    border: 2px solid $blue-on-light;
  }
}

.margin-left {
  margin-right: 1rem;
}