<section class="section-intro video">
    <div class="container-fluid">
        <div class="container">
            <div class="row section-intro__title-row">
                <h1 class="col-heading">
                    Blockchain Commerce for Independent Game Developers
                </h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-intro__intro-wrapper">
                        <div class="section-intro__info">
                            <span class="section-intro__header-text">Welcome to the future of digital assets</span>
                            <div class="section-intro__body-text">
                                At nTitle, we create an equitable ecosystem for all of the participants in the Gaming Industry.
                            </div>
                            <img src="img/icons_context.png" />
                            <span class="section-intro__context-names">CREATORS  -  GAME DEVS  -  GAMERS  -  INFLUENCERS</span>
                        </div>
                        <div class="section-intro__buttons">

                            <div class="col-sm-12 section-intro__buttons-wrapper">

                                <div class="section-intro__papers">
                                    <a
                                            href="/img/whitepaper.pdf" target="_blank"
                                            class="button-intro section-countdown__whitelist margin-left">Whitepaper</a>

                                    <a
                                            href="/img/litepaper.pdf" target="_blank"
                                            class="button-intro section-countdown__whitelist">Litepaper</a>
                                </div>

                                <a
                                        href="#newsletter" id="newsletter-trigger"
                                        class="button-intro section-countdown__newsletter">
                                    Subscribe to Newsletter
                                </a>

                            </div>
                        </div>
                        <div class="row section-intro__community">
                            {% for socialMedium in social %}
                                <div class="community-item">
                                    <a
                                            href="{{ socialMedium.url }}" target="_blank"
                                            aria-label="{{ socialMedium.cta }}">
                                        <i
                                                class="community-item__icon fab fa-{{ socialMedium.icon }}"
                                                aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 section-intro__mockup">
                    <div class="mockup-ui-wrapper">
                        <img src="/img/header-img-min.png" class="mockap-ui" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
