<section class="section-intro video">
    <div class="container-fluid">
        <div class="container">
            <div class="row section-intro__title-row">
                <h1 class="col-heading">
                    DECENTRALISED BLOCKCHAIN COMMERCE FOR INDEPENDENT GAME DEVELOPERS
                </h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-intro__intro-wrapper">
                        <p>
                            The discovery of games and virtual items is increasingly happening <strong>outside of
                                centralised
                                marketplaces</strong> (e.g. Steam) and instead via social media and streaming platforms.
                        </p>
                        <p>
                            Using
                            nTitle’s bcommerce software you can <strong>sell at the point of discovery</strong>, connect
                            with gamers &
                            influencers and <strong>incentivise them to promote games.</strong>

                        </p>
                        <div class="section-intro__buttons">

                            <div class="col-sm-12 section-intro__buttons-wrapper">

                                <div class="section-intro__papers">
                                    <a
                                            href="/img/whitepaper.pdf" target="_blank"
                                            class="button-intro section-countdown__whitelist margin-left">Whitepaper</a>

                                    <a
                                            href="/img/litepaper.pdf" target="_blank"
                                            class="button-intro section-countdown__whitelist">Litepaper</a>
                                </div>

                                <a
                                        href="#newsletter" id="newsletter-trigger"
                                        class="button-intro section-countdown__newsletter">
                                    Subscribe to Newsletter
                                </a>

                            </div>
                        </div>
                        <div class="row section-intro__community">
                            {% for socialMedium in social %}
                                <div class="community-item">
                                    <a
                                            href="{{ socialMedium.url }}" target="_blank"
                                            aria-label="{{ socialMedium.cta }}">
                                        <i
                                                class="community-item__icon fab fa-{{ socialMedium.icon }}"
                                                aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 section-intro__mockup">
                    <div class="mockup-ui-wrapper">
                        <img src="/img/ntitle_dapp_browser_mockup2.png" class="mockap-ui" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
