.section-intro {
  padding: 150px 0 50px;
  @include dottedBg;

  &__buttons-wrapper {
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 2rem;

    @media (max-width: 1023px) {
      padding: 0 2rem;
    }

    @media (max-width: 767px) {
      padding: 0;
      flex-wrap: wrap;
    }
  }

  &__community {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .community-item {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    padding: 70px 0;
  }

  &__mockup {
    display: flex;
  }

  &__intro-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (max-width: 768px) {
      display: block;
    }

  }

  &__cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;

    @media (max-width: 1023px) {
      padding: 0 2rem;
    }

    &__telegram {
      flex: 0 0 calc(33% - 1rem);
      width: calc(50% - 1rem);
      min-width: auto;

      @media (max-width: 1023px) {
        width: auto;
        flex: 1 1 auto;
      }
      @media (max-width: 767px) {
        width: 100%;
        flex: 1 1 100%;
        margin-bottom: 1rem;
      }
    }

    &__whitelist {
      flex: 0 0 calc(33% - 1rem);
      width: calc(50% - 1rem);
      min-width: auto;

      @media (max-width: 1023px) {
        width: auto;
        flex: 1 1 auto;
        margin: 0 2rem;
      }
      @media (max-width: 767px) {
        width: 100%;
        flex: 1 1 100%;
        margin: 0 0 1rem 0;
      }
    }

    &__newsletter {
      flex: 0 0 calc(33% - 1rem);
      width: calc(50% - 1rem);
      min-width: auto;

      @media (max-width: 1023px) {
        width: auto;
        flex: 1 1 auto;
      }
    }
  }
}

.mockup-ui-wrapper {
  display: flex;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.intro-newsletter {
  color: $blue-on-light;
  display: flex;

  &:focus, &:active {
    color: $blue-on-light;
  }

  button {
    color: $blue-on-light;
    margin-top: 20px;

    &:focus, &:active {
      color: $blue-on-light;
    }
  }

  @media (max-width: 990px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.mockap-ui {
  width: 100%;
  object-fit: contain;

  @media (min-width: 1600px) {
    width: 125%;
  }

  @media (max-width: 990px) {
    width: 100%;
    margin-top: 2rem;
  }
}

.mockup-ui-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button-intro {
  //@include resetButton();
  color: $blue-on-light;
  min-width: 5rem;
  height: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: .9rem;
  border: 2px solid $blue-on-light;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 400;
  display: inline-block;
  padding: 0 .8rem;
  line-height: calc(3rem - 4px);
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-right: 1rem;
  text-decoration: none;

  @media (max-width: 767px) {
    margin: 10px 0;
    width: 100%;
  }

  &:hover {
    border: 2px solid $blue-on-light;
    background: $blue-on-light;
    color: white;
    fill: white;
    stroke: white;
    text-decoration: none;

  }

  &:focus, &:active {
    border: 2px solid $blue-on-light;
  }
}