<section class="dark-bg video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="separator" src="/img/pulse.png" alt="pulse site separator">
                <h2 class="section-heading text-uppercase">JOIN THE <span class="en">n</span>TITLE MOVEMENT</h2>
                <p class="section-text">nTitle is a next-generation gaming platform. Along with the benefits that come with a more fairly structured ecosystem, nTitle will also provide a reward system that will allow both gamers and game developers to profit. Gamers will earn money, rewards and free games for helping to promote games and developers will build an army of ambassadors by connecting with gamers and profiting from their social reach.</p>
                <h3 class="section-subheading text-uppercase">Watch the video to hear from our CEO, CMO and CTO:</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <!--CORPORATE VIDEO-->
                <div class="video-wrapper">
                    <div class="video-back">
                        <img src="/img/ntitle_video_poster.jpg" alt="yt nTitle video poster">
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WD3md9xPPPI?showinfo=0&rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen controls="0"></iframe>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
